  <%= render 'header' %>

    <div id="content">

      <div class="container headerMarginTop">
              <div class="clearfix">
                 <div class="searchNav">
                        <a href=""><img src="images/homeIcon.png"></a>
                        <a href="">Page1</a>
                        <a href="">Page2</a>
                 </div>
              </div>
              
               <section class="abtUs">
                   <div id="aboutBanner" class="aboutBanner">
                        <ul class="bxslider" id="aboutPager">
                              <li><img src="images/about-banner.jpg"></li>
							  <li><img src="images/about-banner.jpg"></li>
                              <li><img src="images/about-banner.jpg"></li>
							  <li><img src="images/about-banner.jpg"></li>
                          </ul>
                   </div>
                   <h1>Its' not about us - its's about you!</h1>
                   <p>
                    You are the people who dare to be different, you always have an eye out for the new, for the unique, for the unexplored. You are the Fashion Rebels
and you are never boring <br>
                   </p>
                   <p>
                    RebelsMarket is a community that takes edgy and uncoventional products from all over the globe and collects them all in one place. At
RebelsMarket, we welcome all individuals forging a aunique idientity for themselves, be they interested in goth, punk, street, emo, rock, skate,
steampunk, burlesque, fantasy, tattoo or just anything anti-mainstream <br> <br>
                   </p>


					  <h1>Why RebelsMarket</h1>
                   <p>
                    Ever wanted something to existed so much you decided to make it yourself? We wanted a place to hang that was made just for Fashion Rebels.
We built RebelsMarket so that we could assemble unique styles and edgy in one easy-to-use marketplace
                   </p>
                   <article class="abtBanner">
                      <img src="images/profile.png">
                   </article>
                   <h1>Who can sell on RebelsMarket?</h1>
                   <p>
                      Rebelsmarket is an exclusive community of sellers, each with a distinctive style and point of view. RebelsMarket selects sellers with cool and
rebellious products that would not easily find elsewhere. To be accepted, sellers must demonstrate a dedication a dedication to their subculture
and list quality products relevant to a Fashion Rebel.
                   </p>

               </section>

      </div><!-- end of .container -->

   <div class="container">
        <article class="squiggy">
          <div class="contentBox">
                <a href="" class="openBtn">Open you Store</a>
                <p>to join the marketplace or <a href="sign-up.html">Sign up</a> to start shopping</p>
          </div>

       </article>
   </div>

    <div class="container">
    	       <section class="abtUs">
                  <h1>Who we are</h1>
                  <p>
                    The RebelsMarket team is as diverse and unique as our customer. We come from walks of life and live all over the world.
            RebelsMarket operates three international offices in Dusseldorf , Nairobi, and San Francisco. Our founders are:
                  </p>
              </section>
              <article class="staffMain clearfix">
                 <div class="contactDetail">
                    <img src="images/staff_avatar.jpg" class="user-avatar">
                    <h1>Cass Malloy</h1>
                    <span><strong>Hails from:</strong> New Mexico, USA</span>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    </p>
                    <div class="staffSocial">
                        <a href="" target="_blank"><img src="images/staff_twitter.png"></a>
                        <a href="" target="_blank"><img src="images/staff_pintrest.png"></a>
                        <a href="" target="_blank"><img src="images/staff_facebook.png"></a>
                    </div>
                 </div>

                 <div class="contactDetail">
                    <img src="images/staff_avatar.jpg" class="user-avatar">
                    <h1>James Wachira</h1>
                    <span><strong>Hails from:</strong> Nairobi, Kenya</span>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    </p>
                    <div class="staffSocial">
                        <a href="" target="_blank"><img src="images/staff_twitter.png"></a>
                        <a href="" target="_blank"><img src="images/staff_pintrest.png"></a>
                        <a href="" target="_blank"><img src="images/staff_facebook.png"></a>
                    </div>
                 </div>

                 <div class="contactDetail">
                   <img src="images/staff_avatar.jpg" class="user-avatar">
                    <h1>Robert Jorgensen</h1>
                    <span><strong>Hails from:</strong> Germany</span>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    </p>
                    <div class="staffSocial">
                        <a href="" target="_blank"><img src="images/staff_twitter.png"></a>
                        <a href="" target="_blank"><img src="images/staff_pintrest.png"></a>
                        <a href="" target="_blank"><img src="images/staff_facebook.png"></a>
                    </div>
                 </div>

                 <div class="contactDetail">
                    <img src="images/staff_avatar.jpg" class="user-avatar">
                    <h1>Jim Jorgensen</h1>
                    <span><strong>Hails from:</strong> Wisconsin,USA</span>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    </p>
                    <div class="staffSocial">
                        <a href="" target="_blank"><img src="images/staff_twitter.png"></a>
                        <a href="" target="_blank"><img src="images/staff_pintrest.png"></a>
                        <a href="" target="_blank"><img src="images/staff_facebook.png"></a>
                    </div>
                 </div>
              </article>
    </div>


    </div><!-- end of #content -->
 <%= render 'footer' %>
