<%= render 'header' %>
  <div id="content">

      <div class="container headerMarginTop">
              <div class="clearfix">
                 <div class="searchNav">
                        <a href=""><img src="img/homeIcon.png"></a>
                        <a href="">Page1</a>
                        <a href="">Page2</a>
                 </div>
              </div> 
              
              <section class="terms">
                  <h1>Contact Us</h1>
                  <p>
                    Whether you're a shopper, seller, marketer, publisher, media member or job seeker we'd like to stay connected and want to hear from you!
                  </p>
                  <h2>For Customers</h2>
                  <p>
                    Customer Service Inquiries | <a href="mailto:support@rebelsmarket.com">support@rebelsmarket.com</a>
                  </p>

                  <h2>For All Others</h2>
                  <p>
                    Media, Jobs, Partners, Merchants  | <a href="mailto:business@rebelsmarket.com">business@rebelsmarket.com</a>
                  </p>
                  <h2>Corporate Address</h2>
                  <p>
 						RebelsMarket <br>

101 First Street #586 <br>

Los Altos, CA 94022 <br>

USA <br>

Phone: +1-650-209-4890
                  </p>
                    
              </section>
				             
            
      </div><!-- end of .container -->

    </div><!-- end of #content -->
<%= render 'footer' %>
	