<%= render 'header' %>
<div id="content">

  <div class="container headerMarginTop">
		  <div class="clearfix">
			 <div class="searchNav">
					<a href=""><img src="images/homeIcon.png"></a>
					<a href="">Tees</a>
					<a href="">Be An Ace Tee Men's White</a>
			 </div>
		  </div>
		<section class="prdctContent">
			 <div class="titleBlock">
				<h1>The Finest Collection of Steampunk Jewelry</h1>
				<p>
					Choose from the biggest & finest collection pf steampunk jewelry at Rebelsmarket. We've got everything from diamond , gold silver, wood and stainless steel necklaces to crucifixes, crossed, rosaries and even heart and even key necklace. whatever be the occasion, if it's Speampunk jewelry you're looking for, we've probably got it
				</p>
			 </div>
			 <article class="clearfix">
				<div class="leftBlock"> 
					<a href="#"><img src="images/4d-product_page.jpg" border="0" /></a>
				 </div>
				
				<div class="rightBlock">
				<h1>Today's Best Sellers</h1>
				<div class="colGrp clearfix">
					<div class="colImg">
						<img src="images/product_img.jpg" />
					</div>
					<div class="colDesc">
						<h2><a href="#">Lorem ipsum</a></h2>
						<h4>$30 <span>$39</span></h4>
						<div class="shareIcons">
							<a href="#" class="heart">92</a>
							<a href="#" class="star">138</a>
							<a href="javascript:void(0)" class="share">24</a>
						  </div>
					</div>
					
					
				</div>
				
				<div class="colGrp clearfix">
					<div class="colImg">
						<img src="images/product_img.jpg" />
					</div>
					<div class="colDesc">
						<h2><a href="#">Lorem ipsum</a></h2>
						<h4>$30 <span>$39</span></h4>
						<div class="shareIcons">
							<a href="#" class="heart">92</a>
							<a href="#" class="star">138</a>
							<a href="javascript:void(0)" class="share">24</a>
						  </div>
					</div>
					
					
				</div>
				
				<div class="colGrp clearfix">
					<div class="colImg">
						<img src="images/product_img.jpg" />
					</div>
					<div class="colDesc">
						<h2><a href="#">Lorem ipsum</a></h2>
						<h4>$30 <span>$39</span></h4>
						<div class="shareIcons">
							<a href="#" class="heart">92</a>
							<a href="#" class="star">138</a>
							<a href="javascript:void(0)" class="share">24</a>
						  </div>
					</div>
					
					
				</div>
				
				<div class="colGrp clearfix">
					<div class="colImg">
						<img src="images/product_img.jpg" />
					</div>
					<div class="colDesc">
						<h2><a href="#">Lorem ipsum</a></h2>
						<h4>$30 <span>$39</span></h4>
						<div class="shareIcons">
							<a href="#" class="heart">92</a>
							<a href="#" class="star">138</a>
							<a href="javascript:void(0)" class="share">24</a>
						  </div>
					</div>
					
					
				</div>	
				
			 </div>
			 </article>
			 
			 <div class="titleBlock">
				<h1>Contrary to popular belief</h1>
				<p>
					Choose from the biggest & finest collection pf steampunk jewelry at Rebelsmarket. We've got everything from diamond , gold silver, wood and stainless steel necklaces to crucifixes, crossed, rosaries and even heart and even key necklace. whatever be the occasion, if it's Speampunk jewelry you're looking for, we've probably got it
				</p>
			 </div>
			 
			 <article class="popularNow prdctShow">
					
					<div id="container" class="packery js-packery" data-packery-options='{ "itemSelector": ".galry-item" }'>	
							
				  <div class="column column-3 galry-item">
					<a href="#" class="pdctImg"><img src="images/display-tshirt.jpg" alt=""></a>
					<div class="dicText">
					  <span>New</span>
					  <span>Editors pick</span>
					  <span>FREE shipping</span>
					  <p>
						25% OFF
					  </p>
					</div>
					
					<div class="displayInfo">
					  <div class="subDetails clearfix">
						<h2><a href="#">Fashion Universe Star</a></h2>
						<span class="dataBy"><a href="#">by MEAN KIDS </a></span>
						<span class="price">USD $ 48.37</span>
					  </div>
					  <div class="shareIcons">
						<a href="#" class="heart">92</a>
						<a href="#" class="star">138</a>
						<a href="javascript:void(0)" class="share">24</a>
					  </div>
					</div>
					<div class="share-popup">
						<a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
						<a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
						<a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
						<a href="#"> <img src="images/pintrest.png" alt=""> </a>
						<a href="#"> <img src="images/email-icon.png" alt=""> </a>
					</div>
				  </div>
		
				  <div class="column column-3 galry-item">
					<a href="#" class="pdctImg"><img src="images/display-tshirt2.jpg" alt=""></a>
					<div class="dicText">
					  <p>
						25% OFF
					  </p>
					</div>
					<div class="displayInfo">
					  <div class="subDetails clearfix">
						<h2><a href="#">Fashion Universe Star</a></h2>
						<span class="dataBy"><a href="#">by MEAN KIDS </a></span>
						<span class="price">USD $ 48.37</span>
					  </div>
					  <div class="shareIcons">
						<a href="#" class="heart">92</a>
						<a href="#" class="star">138</a>
						<a href="javascript:void(0)" class="share">24</a>
					  </div>
					</div>
					<div class="share-popup">
						<a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
						<a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
						<a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
						<a href="#"> <img src="images/pintrest.png" alt=""> </a>
						<a href="#"> <img src="images/email-icon.png" alt=""> </a>
					</div>
				  </div>
	
				  <div class="column column-3 galry-item">
					<a href="#" class="pdctImg"><img src="images/display-tshirt3.jpg" alt=""></a>  
					<div class="dicText">
					  <span>New</span>
					  <span>Editors pick</span>
					</div>
					<div class="displayInfo">
					  <div class="subDetails clearfix">
						<h2><a href="#">Fashion Universe Star</a></h2>
						<span class="dataBy"><a href="#">by MEAN KIDS </a></span>
						<span class="price">USD $ 48.37</span>
					  </div>
					  <div class="shareIcons">
						<a href="#" class="heart">92</a>
						<a href="#" class="star">138</a>
						<a href="javascript:void(0)" class="share">24</a>
					  </div>
					</div>
					<div class="share-popup">
						<a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
						<a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
						<a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
						<a href="#"> <img src="images/pintrest.png" alt=""> </a>
						<a href="#"> <img src="images/email-icon.png" alt=""> </a>
					</div>
				  </div>
				  
				  <div class="column column-3 galry-item">
			<a href="#" class="pdctImg"><img src="images/display-tshirt.jpg" alt=""></a>  
			<div class="displayInfo">
			  <div class="subDetails clearfix">
				<h2><a href="#">Fashion Universe Star</a></h2>
				<span class="dataBy"><a href="#">by MEAN KIDS </a></span>
				<span class="price">USD $ 48.37</span>
			  </div>
			  <div class="shareIcons">
				<a href="#" class="heart">92</a>
				<a href="#" class="star">138</a>
				<a href="javascript:void(0)" class="share">24</a>
			  </div>
			</div>
			<div class="share-popup">
				<a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
				<a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
				<a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
				<a href="#"> <img src="images/pintrest.png" alt=""> </a>
				<a href="#"> <img src="images/email-icon.png" alt=""> </a>
			</div>
		  </div>

		  <div class="column column-3 galry-item">
			<a href="#" class="pdctImg"><img src="images/display-tshirt4.jpg" alt=""></a>  
			<div class="displayInfo">
			  <div class="subDetails clearfix">
				<h2><a href="#">Fashion Universe Star</a></h2>
				<span class="dataBy"><a href="#">by MEAN KIDS </a></span>
				<span class="price">USD $ 48.37</span>
			  </div>
			  <div class="shareIcons">
				<a href="#" class="heart">92</a>
				<a href="#" class="star">138</a>
				<a href="javascript:void(0)" class="share">24</a>
			  </div>
			</div>
			<div class="share-popup">
				<a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
				<a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
				<a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
				<a href="#"> <img src="images/pintrest.png" alt=""> </a>
				<a href="#"> <img src="images/email-icon.png" alt=""> </a>
			</div>
		  </div>

		  <div class="column column-3 galry-item">
			<a href="#" class="pdctImg"><img src="images/display-tshirt5.jpg" alt=""></a>  
			<div class="displayInfo">
			  <div class="subDetails clearfix">
				<h2><a href="#">Fashion Universe Star</a></h2>
				<span class="dataBy"><a href="#">by MEAN KIDS </a></span>
				<span class="price">USD $ 48.37</span>
			  </div>
			  <div class="shareIcons">
				<a href="#" class="heart">92</a>
				<a href="#" class="star">138</a>
				<a href="javascript:void(0)" class="share">24</a>
			  </div>
			</div>
			<div class="share-popup">
				<a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
				<a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
				<a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
				<a href="#"> <img src="images/pintrest.png" alt=""> </a>
				<a href="#"> <img src="images/email-icon.png" alt=""> </a>
			</div>
		  </div>
		  
		  <div class="column column-3 galry-item">
			<a href="#" class="pdctImg"><img src="images/display-tshirt5.jpg" alt=""></a>  
			<div class="displayInfo">
			  <div class="subDetails clearfix">
				<h2><a href="#">Fashion Universe Star</a></h2>
				<span class="dataBy"><a href="#">by MEAN KIDS </a></span>
				<span class="price">USD $ 48.37</span>
			  </div>
			  <div class="shareIcons">
				<a href="#" class="heart">92</a>
				<a href="#" class="star">138</a>
				<a href="javascript:void(0)" class="share">24</a>
			  </div>
			</div>
			<div class="share-popup">
				<a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
				<a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
				<a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
				<a href="#"> <img src="images/pintrest.png" alt=""> </a>
				<a href="#"> <img src="images/email-icon.png" alt=""> </a>
			</div>
		  </div>
		  
		  <div class="column column-3 galry-item">
			<a href="#" class="pdctImg"><img src="images/display-tshirt5.jpg" alt=""></a>  
			<div class="displayInfo">
			  <div class="subDetails clearfix">
				<h2><a href="#">Fashion Universe Star</a></h2>
				<span class="dataBy"><a href="#">by MEAN KIDS </a></span>
				<span class="price">USD $ 48.37</span>
			  </div>
			  <div class="shareIcons">
				<a href="#" class="heart">92</a>
				<a href="#" class="star">138</a>
				<a href="javascript:void(0)" class="share">24</a>
			  </div>
			</div>
			<div class="share-popup">
				<a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
				<a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
				<a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
				<a href="#"> <img src="images/pintrest.png" alt=""> </a>
				<a href="#"> <img src="images/email-icon.png" alt=""> </a>
			</div>
		  </div>


		</div>
		
				<div class="fullWidth textCenter">
				  <a href="#" class="viewAll">View All</a>
				</div>
			 </article>
			 
			 <div class="titleBlock borderNone">
				<h1>Contrary to popular belief</h1>
				<p>
					Choose from the biggest & finest collection pf steampunk jewelry at Rebelsmarket. We've got everything from diamond , gold silver, wood and stainless steel necklaces to crucifixes, crossed, rosaries and even heart and even key necklace. whatever be the occasion, if it's Speampunk jewelry you're looking for, we've probably got it
				</p>
			 </div>
			 
			 <div class="tagWrap clearfix">
			   <h3>Top Departments</h3>
				<div class="tagsLinks clearfix">
				<a href="#">- Posters</a> <a href="#">- iPhone 5 Cases</a> <a href="#">- T-shirts</a> <a href="#">- Greeting Cards</a> <a href="#">- Hoodies</a> <a href="#">- Invitations</a> <a href="#">- Shower Curtains</a> <a href="#">- Wall Clocks</a> <a href="#">- Pajamas </a> <a href="#">- Coffee Mugs</a> <a href="#">- Bedding</a> <a href="#">- Throw Pillows</a>
			   </div>
			   
			   <h3>Popular T-Shirt</h3>
				<div class="tagsLinks clearfix">
				<a href="#">- Posters</a> <a href="#">- iPhone 5 Cases</a> <a href="#">- T-shirts</a> <a href="#">- Greeting Cards</a> <a href="#">- Hoodies</a> <a href="#">- Invitations</a> <a href="#">- Shower Curtains</a> <a href="#">- Wall Clocks</a> <a href="#">- Pajamas </a> <a href="#">- Coffee Mugs</a> <a href="#">- Bedding</a> <a href="#">- Throw Pillows</a>
			   </div>
			   
			   <h3>Design your own</h3>
				<div class="tagsLinks clearfix">
				<a href="#">- Posters</a> <a href="#">- iPhone 5 Cases</a> <a href="#">- T-shirts</a> <a href="#">- Greeting Cards</a> <a href="#">- Hoodies</a> <a href="#">- Invitations</a> <a href="#">- Shower Curtains</a> <a href="#">- Wall Clocks</a> <a href="#">- Pajamas </a> <a href="#">- Coffee Mugs</a> <a href="#">- Bedding</a> <a href="#">- Throw Pillows</a>
			   </div>
			   
			 </div>
			 
		</section>


  </div><!-- end of .container -->

</div><!-- end of #content -->
<%= render 'footer' %>

