	<%= render 'header' %>
    <div id="content">

      <div class="container headerMarginTop">
              <div class="clearfix">
                 <div class="searchNav">
                        <a href=""><img src="img/homeIcon.png"></a>
                        <a href="">Tees</a>
                        <a href="">Be An Ace Tee Men's White</a>
                 </div>
              </div>
            
              <div class="block_590 border_b">
        <div class="block paddingTB_20 bd_dt_b">
            <a href="user_page.html" class="user_img3"><img src="img/samples/user6.jpeg"></a><!-- img pad one ends -->
            <div class="block_188 float_left">
                <h5 class="marginT_10">Hot Tee Shirt from threadless</h5>
                <p class="marginB_10">Listed by <a href="#" class="contentlink_two">HotTopic</a></p>
                <div class="clear"></div>
                <div class="clearfix">
                    <a href="#" class="loveit"><span class="icon_one red_love"></span>Love it</a>
                    <a href="#" class="shareIt"><span class="icon_one share_icon"></span>Share it</a>
                </div>
                
            </div><!-- block 188 ends -->
            <div class="float_right block_110">
                <h2 class="txt_bold">$49.00</h2>
                <a href="#" class="btn_red btn_buy">Buy</a>
            </div><!-- block 110 ends -->
        </div><!-- block ends -->
        <div class="clear"></div>
        <div class="slider" id="product_slider">
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport">
                    <div class="bx-wrapper">
                    <ul class="bxslider">
                        <li><img src="img/samples/1.png"></li>
                        <li><img src="img/samples/1b.png"></li>
                    </ul>
                    </div>
                        <div class="bx-controls bx-has-controls-direction">
                        <div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div>
                    </div>
                    </div><!-- bx-viewport ends -->
            </div><!-- bx-wrapper ends -->
            <div id="bx-pager">
                <a data-slide-index="0" href="" class="active"><img src="img/samples/thumbnail/1.png"></a>
                <a data-slide-index="1" href="" class=""><img src="img/samples/thumbnail/1b.png"></a>
            </div><!-- bx-pager ends -->
        </div><!-- slider ends -->
  <div class="block paddingTB_20">
     		<div class="user_img2 marginT_10"></div><!-- img pad_two ends -->
            <div class="block_490">
            	<textarea class="comment_box" placeholder="Add a comment"></textarea>
            	<div class="clear"></div>
            	<a href="#" class="postComment">Post comment</a>
            	<a href="#" class="cancel">Cancel</a>
            </div><!-- block 500 ends -->
        </div><!-- block ends -->
        <div id="comment_amount">3 Comment</div><!-- comment amount ends -->
        <div class="block paddingTB_20 border_b">
     		<a hre="user_page.html" class="user_img2"><img src="img/samples/user10.jpeg"></a><!-- img pad_two ends -->
            <div class="block_490">
            	<a href="#" class="txt_bold contentlink_two float_left marginR_20">Lorem Ipsum</a><p class="txt_10 txt_grey">7 minutres ago</p>
                <div class="clear"></div>
            	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
            </div><!-- block 500 ends -->
        </div><!-- block ends -->
        <div class="block paddingTB_20 border_b">
     		<a hre="user_page.html" class="user_img2"><img src="img/samples/user3.jpeg"></a><!-- img pad_two ends -->
            <div class="block_490">
            	<a href="#" class="txt_bold contentlink_two float_left marginR_20">Lorem Ipsum</a><p class="txt_10 txt_grey">7 minutres ago</p>
                <div class="clear"></div>
            	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
            </div><!-- block 500 ends -->
        </div><!-- block ends -->
        <div class="block paddingTB_20">
     		<a hre="user_page.html" class="user_img2"><img src="img/samples/user7.jpeg"></a><!-- img pad_two ends -->
          <div class="block_490">
            	<a href="#" class="txt_bold contentlink_two float_left marginR_20">Lorem Ipsum</a><p class="txt_10 txt_grey">7 minutres ago</p>
                <div class="clear"></div>
            	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
            </div><!-- block 500 ends -->
        </div><!-- block ends -->
    </div>
    
    <div class="block_270">
    	<div class="wrapper_1 txt_centre">
        	<div class="column2">
            	<p class="txt_30 txt_bold txt_grey">21</p>
                <h4 class="txt_dark">Loves</h4>
            </div><!-- column2 ends -->
        	<div class="column2">
            	<p class="txt_30 txt_bold txt_grey">21</p>
                <h4 class="txt_dark">Purchase</h4>
            </div><!-- column2 ends -->
        </div><!-- wrapper 1 ends -->
    	<div class="block_one marginB_20">
        	<div class="activity_pad_header">
            	<h4>Recent loves <a href="#" class="view_all_2">View all</a></h4>
          	</div><!-- activity_pad_header ends -->
        	<div class="activity_pad bd_b">
            	<a hre="Product_page.html" class="item_img2"><img src="img/samples/7.png"></a>
                <div class="block_130 float_left">
                	<a href="user_page.html" class="user_img1"><img src="img/samples/user1.jpeg"></a>
                  <div class="block_80 float_left">
               	<p>Loved by</p>
                        <a href="user_page.html" class="contentlink_two txt_bold txt_11">Lorem Ipsum</a>
                        <p class="txt_10">2 minutes ago</p>
                        <div class="amount_loves">2,004</div>
                    </div>
                </div><!-- block 110 ends -->
            </div><!-- activity_pad ends -->
        	<div class="activity_pad ">
            	<div class="block">
                    <a hre="Product_page.html" class="item_img2"><img src="img/samples/10.png"></a>
                    <div class="block_130 float_left">
                        <a href="user_page.html" class="user_img1"><img src="img/samples/user2.jpeg"></a>
                        <div class="block_80 float_left">
                            <p>Loved by</p>
                            <a href="user_page.html" class="contentlink_two txt_bold txt_11">Lorem Ipsum</a>
                            <p class="txt_10">2 minutes ago</p>
                            <div class="amount_loves">2,004</div>
                        </div>
                    </div><!-- block 110 ends -->
                </div><!-- block ends -->
            </div><!-- activity_pad ends -->
        </div><!-- block one ends -->
        <div class="clear"></div>
    	<div class="block_one marginB_20">
        	<div class="activity_pad_header">
            	<h4>Recent loves <a href="#" class="view_all_2">View all</a></h4>
          	</div><!-- activity_pad_header ends -->
        	<div class="activity_pad bd_b">
            	<a hre="Product_page.html" class="item_img3"><img src="img/samples/1.png"></a>
                <div class="block_right">
                    <a href="Product_page.html" class="contentlink_two txt_bold txt_14">Lorem Ipsum</a>
                    <p class="txt_grey">Suggested by</p>
                    <a href="user_page.html" class="contentlink_two txt_11">Lorem Ipsum</a>
                </div><!-- block_right ends -->
            </div><!-- activity_pad ends -->
        	<div class="activity_pad bd_b">
            	<a hre="Product_page.html" class="item_img3"><img src="img/samples/2.png"></a>
                <div class="block_right">
                    <a href="Product_page.html" class="contentlink_two txt_bold txt_14">Lorem Ipsum</a>
                    <p class="txt_grey">Suggested by</p>
                    <a href="user_page.html" class="contentlink_two txt_11">Lorem Ipsum</a>
                </div><!-- block_right ends -->
            </div><!-- activity_pad ends -->
        	<div class="activity_pad bd_b">
            	<a hre="Product_page.html" class="item_img3"><img src="img/samples/3.png"></a>
                <div class="block_right">
                    <a href="Product_page.html" class="contentlink_two txt_bold txt_14">Lorem Ipsum</a>
                    <p class="txt_grey">Suggested by</p>
                    <a href="user_page.html" class="contentlink_two txt_11">Lorem Ipsum</a>
                </div><!-- block_right ends -->
            </div><!-- activity_pad ends -->
        	<div class="activity_pad bd_b">
            	<a hre="Product_page.html" class="item_img3"><img src="img/samples/4.png"></a>
                <div class="block_right">
                    <a href="Product_page.html" class="contentlink_two txt_bold txt_14">Lorem Ipsum</a>
                    <p class="txt_grey">Suggested by</p>
                    <a href="user_page.html" class="contentlink_two txt_11">Lorem Ipsum</a>
                </div><!-- block_right ends -->
            </div><!-- activity_pad ends -->
        	<div class="activity_pad">
            	<a hre="Product_page.html" class="item_img3"><img src="img/samples/5.png"></a>
                <div class="block_right">
                    <a href="Product_page.html" class="contentlink_two txt_bold txt_14">Lorem Ipsum</a>
                    <p class="txt_grey">Suggested by</p>
                    <a href="user_page.html" class="contentlink_two txt_11">Lorem Ipsum</a>
                </div><!-- block_right ends -->
            </div><!-- activity_pad ends -->
            <div class="clear"></div>
        </div><!-- block one ends -->
    </div>







      </div><!-- end of .container -->

    </div><!-- end of #content -->
	<%= render 'footer' %>
	    <script type="text/javascript">
	$(document).ready(function(){
	 //PRODUCT SLIDER
			$('.bxslider').bxSlider({
				pagerCustom: '#bx-pager'
			});
	});
    		 
    </script>