
<!DOCTYPE html>

<html>

  <head>

    <title>Rebels Market</title>

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <!-- Bootstrap -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

      <script src="js/html5shiv.js"></script>

      <script src="js/respond.min.js"></script>

    <![endif]-->

    <script src="js/css_browser_selector.js" type="text/javascript"></script>
    <link href="css/custom.css" rel="stylesheet" media="screen">
    <link href="css/home.css" rel="stylesheet" media="screen">
    <link href="css/responsive.css" rel="stylesheet" media="screen">
    <link href="css/jquery.bxslider.css" rel="stylesheet" media="screen">
    <link href="css/layout.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
  <!--Dialog box starts-->
  <div class="overlay signUpOverlay"></div>
  <div class="overlayWrap signTop">
  		<div class="popWrap clearfix sign_up">
            <div class="closeBtn"></div>
        	  <div class="imgSide">
                <img src="img/portrait.jpg">
            </div>  

            <div class="contextSheet">
                <div class="logo">
                  <img src="img/logo.png" alt="">
                </div>
                 <h1>WANT <span>10% </span> OFF?</h1>
                 <h2>GET WHAT'S HOT. GET THE INFO, <span> SIGN UP NOW</span></h2>
                 <form>

                    <div class="inputWrp clearfix">
                        <div class="error">Required</div>
                        <span><img src="img/follow/formIcon1.png" alt=""></span>
                        <input type="email" placeholder="Email Address">
                    </div>

                     <div class="inputWrp clearfix">
                        <div class="error">Required</div>
                        <span><img src="img/follow/formIcon1.png" alt=""></span>
                        <input type="email" placeholder="Confirm Email">
                    </div>

                    <p>
                      Please send me Exclusive offers, Product updates 
and Fashion information
                    </p>
                     <div class="formElements">
                     	 <input type="radio" name="sex" value="female"> Email
          				<input type="radio" name="sex" value="male"> Mobile (Text Message)
                    	<a href="">See terms</a>
                        <div class="checkWing">
                        	<input name="" type="checkbox" value="">
                    		  <p>Please send me information about  RebelsMarket Limited Edition Tees</p>
                        </div>
                     </div>
                     

                    <div class="buttonSpace clearfix">
                      <input type="submit" value="Sign up">
                      <a href="">Privacy Policy</a>
                    </div>

                 </form>
            </div>
        </div>
  </div>
  <!--Dialog box ends-->
  <div class="footerOverlay">
      &copy; 2013 RebelsMarket. All Rights Reserved.
  </div>  
 
     
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="js/jquery.js"></script>
    <script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="js/packery.pkgd.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/organictabs.jquery.js"></script>
    <script src="js/jquery.hashchange.min.js" type="text/javascript"></script>
	<script src="js/jquery.easytabs.min.js" type="text/javascript"></script>
    <script src="js/scripts.js"></script>
    

  </body>

</html>

<div id="floatingbox">

	<span class="closebox"></span>

	<h5>GET SPECIAL OFFERS FROM REBELS MARKET</h5>

	<p>Enter your address to receive special offers and promotion from rebels market.</p>

	<input type="text" class="form-control" placeholder="Email address">

	<div class="checkbox">

	  <label>

	    <input type="checkbox" value="">

	    by checking this box i certify that as of today i am at least 18 years of age

	  </label>

	</div>

	<button type="button">SIGN UP</button>

</div>