<%= render 'header' %>
    <!--Dialog box starts-->
  <div class="overlay"></div>
  <div class="overlayWrap">
  		<div class="popWrap clearfix messagePopup">
            <div class="closeBtn"></div>
            <h1>
               <img src="img/logoBlack.png">
            </h1>
        	  <form>
               <p class="disclaimer">
                  RebelsMarket is the No. 1 alternative community
for buying &amp; selling anti-mainstream items for 
subcultural lifestyles. <span>Join today!</span>
               </p>
               <label class="labelTxt">Password</label>
               <input type="text">
               <div class="buttonSpace clearfix">
                    <input type="submit" value="Sign up">
              </div>

               <div class="formHalf clearfix">
                  <div class="left">
                     <a href="" class="fbconnect clearfix">
                        <span class="icon"></span> 
                        <span class="txtInfo">Login with Facebook</span>
                      </a>
                  </div>
                  <div class="right">
                     <a href="" class="twtConnect clearfix">
                           <span class="icon"></span> 
                          <span class="txtInfo">Login with Twitter</span>
                     </a>
                  </div>
              </div>
              <p class="notice">Already a member?   <a href="">Login</a> </p>

            </form>
        </div>
  </div>


    <div id="content">

      	<div class="container headerMarginTop">
       		<div class="casualBanner">
         		  <img src="img/home_banner.jpg" alt="">
              <div class="intro">
                  <h1>
                    Community driven market place <br>
    for buying and selling everything counterculture
                  </h1>
                  <div class="btnsMain">
                     <a href="sign-up.php" class="start_btn">Sign Up</a>
                     or <a href="">open your own store</a> for free
                  </div>
              </div>
        	</div>

          <section class="content-main clearfix">
             <aside class="side-bar">
                <h4>What's New</h4>
                <div class="verticle-menu new-items">
                    <ul>
                        <li><a href="#">Undies/Thongs/panties</a></li>
                        <li><a href="#">Consumables</a></li>
                        <li><a href="#">Keychains</a></li>
                        <li><a href="#">Necklaces</a></li>
                        <li><a href="#">Bar &amp; Glasssware</a></li>
                        <li><a href="#">Tees</a></li>
                        <li><a href="#">Bracelets &amp; Wristbands</a></li>
                        <li><a href="#">Leggings</a></li>
                        <li><a href="#">Consumables</a></li>
                        <li><a href="#">Jackets &amp; Coats</a></li>
                    </ul>
                </div>
                <h4>Customer Testimonials</h4>
                <div class="cart_lft">
                  
                  <div class="cartReview clearfix">
                     <div class="prodTitle clearfix">
                         <h1><a href="#">Tattoo Icon T-shirt</a></h1>
                     </div>
                     <p class="comment">Beautiful coat, had lots of complements already!</p>
                      <a href="#" class="stars4 review_stars_wrapper"></a>
                      <div class="contributor clearfix">
                          <figure>
                              <img src="img/people1.png" alt="">
                          </figure>
                          <div class="author">
                              <h1><a href="#">John doe</a></h1>
                              <span>October 13, 2013</span>
                              <p>Halesowen, United Kingdom</p>
                          </div>
                      </div>  
                  </div>

                  <div class="cartReview clearfix">
                     <div class="prodTitle clearfix">
                         <h1><a href="#">Tattoo Icon T-shirt</a></h1>
                     </div>
                     <p class="comment">Beautiful coat, had lots of complements already!</p>
                     <a href="#" class="stars4 review_stars_wrapper"></a>
                      <div class="contributor clearfix">
                          <figure>
                              <img src="img/people1.png" alt="">
                          </figure>
                          <div class="author">
                              <h1><a href="#">John doe</a></h1>
                              <span>October 13, 2013</span>
                              <p>Halesowen, United Kingdom</p>
                          </div>
                      </div>  
                  </div>

              </div>

              <h4>Get Special Offers</h4>
                <div class="verticle-menu">
                    <span class="closebox"></span>                 
                    <p>Enter your address to receive special offers and promotion from rebels market.</p>
                    <form>
                        <input type="text" class="form-control" placeholder="Email address">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""> 
                                by checking this box i certify that as of today i am at least 18 years of age
                              </label>        
                            </div>
                       <button type="submit" class="flat-button">SIGN UP</button>
                    </form>
                    
                </div>
 

             </aside>

             <aticle class="content-panel">
                <h2>WOMAN</h2>
                <section class="home-prdct womenPrdct clearfix">
                    <a href="">
                        <div class="single-prd w2">
                            <img src="img/prodct_img.jpg">
                            <h2>Dresses</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/corsets.jpg">
                            <h2>Corsets</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/shoes.jpg">
                            <h2>Shoes</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/jewelry.jpg">
                            <h2>Jewelry</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/handBag.jpg">
                            <h2>Handbags</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/dresses.jpg">
                            <h2>Jackets <br> &amp;  Coats</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/tops.jpg">
                            <h2>Tops</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/leggings.jpg">
                            <h2>Leggings</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/panties.jpg">
                            <h2>Panties</h2>
                        </div>
                    </a>
                </section>  

                <h2>MAN</h2>
                <section class="home-prdct menPrdct clearfix">
                    <a href="">
                        <div class="single-prd w2">
                            <img src="img/prodct_img2.jpg">
                            <h2>Tees</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/hoodies.jpg">
                            <h2>Hoodies</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/shirts.jpg">
                            <h2>Shirts</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/underware.jpg">
                            <h2>Underwear</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/jackets.jpg">
                            <h2>Jackets <br>&amp; Coats</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/jewelry-two.jpg">
                            <h2>Jewelry</h2>
                        </div>
                    </a>

                    <a href="">
                        <div class="single-prd">
                            <img src="img/back-pack.jpg">
                            <h2>Backpack</h2>
                        </div>
                    </a>

                     
                </section>

                <h2>More Categories to Shop <a href="">See more</a> </h2>
                <section class="more-categories clearfix">
                    <a href="">
                        <div class="single-prd">
                            <img src="img/artwork.jpg">
                            <h2>Artwork</h2>
                        </div>
                    </a>
                    <a href="">
                        <div class="single-prd">
                            <img src="img/Glassware.jpg">
                            <h2>Bar &amp; <br>Glassware</h2>
                        </div>
                    </a>
                    <a href="">
                        <div class="single-prd">
                            <img src="img/collectables.jpg">
                            <h2>Collectables</h2>
                        </div>
                    </a>
                    <a href="">
                        <div class="single-prd">
                            <img src="img/phone_cover.jpg">
                            <h2>Phone Cases</h2>
                        </div>
                    </a>
                    <a href="">
                        <div class="single-prd">
                            <img src="img/watches.jpg">
                            <h2>Watches</h2>
                        </div>
                    </a>
                </section>

                <h2>Featured Shops<a href="">See more</a> </h2>
                <section class="feature-shop clearfix">
                     <div class="shop-block shop-left">
                          <section class="shop-data clearfix">
                              <a href=""><img src="img/home_shop.jpg"></a>
                              <div class="shop_txt">
                                  <h5><a href="">Sullent Art</a></h5>
                                  <p>
                                      Founded in Huntington Beach, California, the Sullen Art Collective is an Art-Driven Lifestyle Apparel brand that integrates like minded sub cultures...
                                  </p>
                                  <a href="">Read the interview</a>
                              </div>
                          </section>
                          <h2>Mava style items<a href="">See more</a> </h2>
                          <section class="clearfix">
                              <a class="shop-prdct" href="">
                                   <img src="img/display-tshirt5.jpg">
                              </a>
                              <a class="shop-prdct" href="">
                                   <img src="img/display-tshirt3.jpg">
                              </a>
                              <a class="shop-prdct" href="">
                                   <img src="img/display-tshirt2.jpg">
                              </a>
                              <a class="shop-prdct" href="">
                                   <img src="img/display-tshirt5.jpg">
                              </a>
                          </section>
                     </div>

                     <div class="shop-block shop-right">
                          <section class="shop-data clearfix">
                              <a href=""><img src="img/home_shop2.jpg"></a>
                              <div class="shop_txt">
                                  <h5><a href="">Pop Murder</a></h5>
                                  <p>
                                      Founded in Huntington Beach, California, the Sullen Art Collective is an Art-Driven Lifestyle Apparel brand that integrates like minded sub cultures...
                                  </p>
                                  <a href="">Read the interview</a>
                              </div>
                          </section>
                          <h2>Mava style items<a href="">See more</a> </h2>
                          <section class="clearfix">
                              <a class="shop-prdct" href="">
                                   <img src="img/display-tshirt5.jpg">
                              </a>
                              <a class="shop-prdct" href="">
                                   <img src="img/display-tshirt3.jpg">
                              </a>
                              <a class="shop-prdct" href="">
                                   <img src="img/display-tshirt2.jpg">
                              </a>
                              <a class="shop-prdct" href="">
                                   <img src="img/display-tshirt5.jpg">
                              </a>
                          </section>
                     </div>
                </section>
                <section class="home-prodcut-slider clearfix">
                    <div class="slider-pane">
                        <h2>Browse by style<a href="">See more</a> </h2>
                        <ul class="bxslider home-shop-slider">
                            <a href="">
                              <li>
                                <img src="img/carousel/item1.png" />
                                <h2>Steampunk</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item2.png" />
                                <h2>Rocker</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item3.png" />
                                <h2>Boho</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item4.png" />
                                <h2>Burlesque</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item3.png" />
                                <h2>Steampunk</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item2.png" />
                                <h2>Rocker</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item1.png" />

                                <h2>Burlesque</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item4.png" />
                                <h2>Boho</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item1.png" />
                                <h2>Steampunk</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item2.png" />
                                <h2>Boho</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item3.png" />
                                <h2>Burlesque</h2>
                              </li>
                            </a>

                            <a href="">
                              <li>
                                <img src="img/carousel/item4.png" />
                                <h2>Rocker</h2>
                              </li>
                            </a>
                             
                             
                      </ul>
                    </div>
                    <div class="featured-brands clearfix">
                        <h2>Featured Brands <a href="">See more</a> </h2>
                        <a class="shop-prdct" href="">
                           <img src="img/home_shop.jpg">
                        </a>
                        <a class="shop-prdct" href="">
                           <img src="img/home_shop.jpg">
                        </a>
                    </div>

                </section>

                <section class="home-popular-search">
                  <h2>Popular search terms </h2> 

                  <a href="#" class="search-term">#dresses</a>

                  <a href="#" class="search-term">#women-tops</a>

                  <a href="#" class="search-term">#men tees</a>

                  <a href="#" class="search-term">#skulls</a>

                  <a href="#" class="search-term">#handbags</a>

                  <a href="#" class="search-term">#corsets</a>

                  <a href="#" class="search-term">#leggings</a>

                  <a href="#" class="search-term">#steampunk</a>

                  <a href="#" class="search-term">#earcuff</a>

                </section>

             </aticle>
          </section>  
            
            
       
		</div><!--End .container-->
    </div>
<%= render 'footer' %>