<%= render 'header' %>
    <div id="content">

      <div class="container headerMarginTop">
              <div class="clearfix">
                 <div class="searchNav">
                        <a href=""><img src="images/homeIcon.png"></a>
                        <a href="">Page1</a>
                        <a href="">Page2</a>
                 </div>
              </div> 
              
             <section class="store_abt_top clearfix">
        	<aside class="sideBar">
		  <div class="storeCol">
			<img src="images/store-avatar.jpg" alt=""> 
		  </div>
		</aside>  
			<section class="mainContent clearfix">
			<div class="storeGen">
			   <h1>mismad3</h1>
			   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
			   <div class="wrap clearfix">
				   <div class="leftWing">
					 <div class="datagrid">
						<table>
						  <tbody>
							<tr>
							  <td>
								  <a href="">
									<h1>349</h1>
									<p>Products sold</p>
								  </a>
								  
							  </td>
							  <td>
								<a href="">
								  <h1>470</h1>
								  <p>Products</p>
								</a>
								  
							  </td>
							  <td>
								<a href="">
								  <h1>3500</h1>
								  <p>Followers</p>
								</a>
							  </td>
							  <td>
								<a href="">
								  <h1>34</h1>
								  <p>Stores</p>
								</a>  
							  </td>
							  <td>
								<a href="">
								  <h1>455</h1>
								  <p>Reviews</p>
								</a>
								  
							  </td>
							</tr>
						  </tbody>
						</table>
					</div>
				 </div>
				 <div class="rightWing">
				   <button>Follow</button>
				 </div>
			   </div>
			</div>
		</section>
        </section>
             
				   <div class="block info_wrapper">
    	<h2 class="marginB_20">Reviews</h2>
        <div class="clear"></div>
        <div class="float_left block_11 marginB_20">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                        <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="float_left block_11 middle_block">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                        <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="float_left block_11">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                        <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="clear"></div>
        <div class="float_left block_11 marginB_20">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                       <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="float_left block_11 middle_block">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                        <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="float_left block_11">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                        <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="clear"></div>
        <div class="float_left block_11 marginB_20">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                        <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="float_left block_11 middle_block">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                        <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="float_left block_11">
        	<div class="review_pad">
            	<div class="item_info">
                    	<a class="item_name" href="product_page.html">Fashion Universe Star</a>
                        <a class="item_shop" href="store_main_page.html">by MEAN KIDS </a>
                        <a class="item_price" href="product_page.html">USD $ 48.37</a>
                 </div><!-- item_info ends -->
                 <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="comment_arrow"></div>
            <div class="comment_author_info">
            	<a href="user_page.html">
                	<img src="images/store-avatar.jpg" class="comment_author float_left avt_1" alt="">
                </a>
                <div class="author_info">
                	<div class="bd_dt_b block float_left">
                        <a href="#" class="stars4 review_stars_wrapper"></a>
                        <span class="float_right">May 31 2013</span>
                    </div>
                    <a href="user_page.html" class="txt_bold contentlink">Lorem Ipsum</a>
                   	<p class="txt_italic txt_11">USA portland</p>
                </div>
            </div><!-- comment_author_info ends -->
        </div><!-- block_11 ends -->
        <div class="clear"></div>
   			<div class="btnCenter">
             	 <a href="#" class="viewAll">View All</a>
            </div>
    </div><!-- info_wrapper ends -->      
            
      </div><!-- end of .container -->

    </div><!-- end of #content -->
<%= render 'footer' %>