<%= render 'header' %>
    <div id="content">

      <div class="container headerMarginTop storeOnly">
              <div class="clearfix">
                 <div class="searchNav">
                        <a href=""><img src="images/homeIcon.png"></a>
                        <a href="">Page1</a>
                        <a href="">Page2</a>
                 </div>
              </div>
			  
			<section class="mainContent clearfix">
                <div class="storeGen">
                   <h1>mismad3</h1>
                   <div class="boxInfo clearfix">
                     <span class="floatLeft">Email : info@mismad3.com</span>
                     <span class="floatRight"><strong>Location :</strong> Portland,USA</span>
                   </div>
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                   <div class="wrap clearfix">
                       <div class="leftWing">
                         <div class="datagrid">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a href="">
                                        <h1>349</h1>
                                        <p>Products sold</p>
                                      </a>
                                      
                                  </td>
                                  <td>
                                    <a href="">
                                      <h1>470</h1>
                                      <p>Products</p>
                                    </a>
                                      
                                  </td>
                                  <td>
                                    <a href="">
                                      <h1>3500</h1>
                                      <p>Followers</p>
                                    </a>
                                  </td>
                                  <td>
                                    <a href="">
                                      <h1>34</h1>
                                      <p>Stores</p>
                                    </a>  
                                  </td>
                                  <td>
                                    <a href="">
                                      <h1>455</h1>
                                      <p>Reviews</p>
                                    </a>
                                      
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                     </div>
                     <div class="rightWing">
                       <button>Follow</button>
                     </div>
                   </div>


                </div>
                <div class="filterMain clearfix">
                	<form action="" method="get">
                    	<select name="">
                        	<option>Sort by Relevancy</option>
                            <option>Category</option>
                            <option>Date added</option>
                            <option>Price</option> 
                        </select>
                    </form>
                </div>
                
                
            <div class="popularNow">
            <div class="colWrap clearfix">
              <div id="container" class="packery js-packery" data-packery-options='{ "itemSelector": ".galry-item" }'>	
              	                
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt.jpg" alt=""></a>
                <div class="dicText">
                  <span>New</span>
                  <span>Editors pick</span>
                  <span>FREE shipping</span>
                  <p>
                    25% OFF
                  </p>
                </div>
                
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
    
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt2.jpg" alt=""></a>
                <div class="dicText">
                  <p>
                    25% OFF
                  </p>
                </div>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt3.jpg" alt=""></a>  
                <div class="dicText">
                  <span>New</span>
                  <span>Editors pick</span>
                </div>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
              
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt.jpg" alt=""></a>  
                <div class="dicText">
                  <span>New</span>
                </div>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
              
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt4.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt4.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt5.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
              
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt.jpg" alt=""></a>
                <div class="dicText">
                  <span>New</span>
                  <span>Editors pick</span>
                  <span>FREE shipping</span>
                  <p>
                    25% OFF
                  </p>
                </div>
                
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
    
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt2.jpg" alt=""></a>
                <div class="dicText">
                  <p>
                    25% OFF
                  </p>
                </div>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt3.jpg" alt=""></a>  
                <div class="dicText">
                  <span>New</span>
                  <span>Editors pick</span>
                </div>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
              
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt.jpg" alt=""></a>  
                <div class="dicText">
                  <span>New</span>
                </div>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
              
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt4.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt4.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt5.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
              
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt5.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>
              
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="images/display-tshirt5.jpg" alt=""></a>  
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD $ 48.37</span>
                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a><a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="images/email-icon.png" alt=""> </a>
                </div>
              </div>


            </div>
             
             <div class="digg_pagination clearfix">
             	<span class="disabled previous_page">Previous</span>
                <em class="current">1</em> 
                <a href="#" rel="next">2</a> 
                <a href="#">3</a> 
                <a href="#">4</a> 
                <a href="#">5</a> 
                <a href="#">6</a> 
                <a href="#">7</a> 
                <a href="#" rel="next" class="next_page">Next</a>
              </div>
             
          </div>

        </div>
            </section>
            
			<aside class="sideBar">
            	<div class="storeCol">
                <img src="images/store-avatar.jpg" alt=""> 
                <div class="boxMenu">
                  <a href="">About us</a> 
                  <a href="">Policies</a>
                </div>

                <div class="boxMenu">
                  <h3>Have a question?</h3>
                  <p>
                    <a href="">Contact the shop owner</a>
                  </p>
                </div>

                <div class="detailist">
                   <h2>Free Shipping</h2>
                   <p>Lorem Ipsum is simply dummy text of the printing</p>
                   <a href="">Learn More</a>
                </div>

                 <div class="detailist">
                   <h2 class="first">Free Returns</h2>
                   <p>Lorem Ipsum is simply dummy text of the printing</p>
                   <a href="">Learn More</a>
                </div>

                 <div class="detailist">
                   <h2 class="second">Best Price Match</h2>
                   <p>Lorem Ipsum is simply dummy text of the printing</p>
                   <a href="">Learn More</a>
                </div>

                 <div class="detailist">
                   <h2 class="third">Call this Store</h2>
                   <p>Lorem Ipsum is simply dummy text of the printing</p>
                   <a href="">Learn More</a>
                </div>


              </div>
                
                <h2>Search by category</h2>
                <div class="sideBarMenu">
                    <ul>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Children</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Artwork</a></li>
                        <li><a href="#">Gadgets</a></li>
                        <li><a href="#">Houseware (lifestyle)</a></li>
                        <li><a href="#">Jewewlry &amp; Accessories</a></li>
                        <li><a href="#">Outdoor fun &amp; lifestyle</a></li>
                        <li><a href="#">Pets</a></li>
                        <li><a href="#">Shoes</a></li>
                    </ul>
                </div>
                
                <h2>Color</h2>
                <div class="colorPelets clearfix">
                	<a href="" class="black" title="Black"></a>
                    <a href="" class="blue" title="Blue"></a>
                    <a href="" class="brown" title="Brown"></a>
                    <a href="" class="yellow" title="Yellow"></a>
                    <a href="" class="grey" title="Grey"></a>
                    <a href="" class="green" title="Green"></a>
                    <a href="" class="cream" title="Cream"></a>
                    <a href="" class="orange" title="Orange"></a>
                    <a href="" class="pink" title="Pink"></a>
                    <a href="" class="purple" title="Purple"></a>
                    <a href="" class="red" title="Red"></a>
                    <a href="" class="white" title="White"></a>
                    <a href="" class="light-grey" title="Light Grey"></a>
                    <a href="" class="beij" title="Beij"></a>
                    
                    
                </div>
                
                <h2>Search by interest</h2>
                <div class="sideBarMenu">
                    <ul>
                        <li><a href="#">Avant Garde</a></li>
                        <li><a href="#">Boho</a></li>
                        <li><a href="#"> Burlesque </a></li>
                        <li><a href="#">Fantasy </a></li>
                        <li><a href="#">Goth</a></li>
                        <li><a href="#">High Fashion </a></li>
                        <li><a href="#">Hip Hop </a></li>
                        <li><a href="#">Hipster</a></li>
                        <li><a href="#">Historical</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Industrial</a></li>
                        <li><a href="#">Kawaii </a></li>
                        <li><a href="#">Kitsch</a></li>
                        <li><a href="#">Modern</a></li>
                        <li><a href="#">Punk</a></li>
                        <li><a href="#">Pyschobilly</a></li>
                        <li><a href="#">Retro</a></li>
                        <li><a href="#">Rockabilly</a></li>
                        <li><a href="#">Rocker</a></li>                    
                        <li><a href="#">Sci Fi </a></li>
                        <li><a href="#">Spooky </a></li>
                        <li><a href="#">Kitsch</a></li>
                        <li><a href="#">Steampunk</a></li>
                        <li><a href="#">Tattoo</a></li>
                        <li><a href="#">Traditional Tribal </a></li>
                        <li><a href="#">Victorian</a></li>
                    </ul>
                </div>
                
                 <h2>Ship anywhere</h2>
                <div class="shipingCountry">
                        <span>Italy</span>
                        <a href="#"><span>Change</span></a></li>
                </div>
                
                
                
            </aside>	
            







      </div><!-- end of .container -->

    </div><!-- end of #content -->
<%= render 'footer' %>