<div class="casualBanner">
    <img src="../images/home_banner.jpg" alt="">
   <div class="intro">
       <h1>
         A place to Buy & Sell Fashion for the MisFit.
       </h1>
       <div class="btnsMain">
          <a href="#" class="start_btn">Shop Women</a>
          <a href="#" class="start_btn">Shop Men</a>
          or <a href="">Start Selling</a> it's Free
       </div>
   </div>
</div>
