<!--Dialog box starts-->
<div class="overlay"></div>
<div class="overlayWrap">
   <div class="popWrap clearfix cartPopup storePopup">
      <div class="store_header border_bottom">
         <img src="../images/logo/rm-black-logo.png" width="110" height="27"> Trusted Store
         <div class="closeBtn"></div>
      </div>
      <div class="p_15 border_bottom">
         <div class="p_8 clearfix">
            <div class="col-sm-3 col-xs-2 nrp"><img src="../images/icons/reviews_icon.png" width="36" height="34"></div>
            <div class="col-sm-9 col-xs-10">
               <h4>Reviews and Ratings</h4>
               <strong>99.9%</strong> escalation-free orders<br>
               <strong>6-12</strong> hours to emails
            </div>
         </div>
         <div class="p_8 clearfix">
            <div class="col-sm-3 col-xs-2 nrp"><img src="../images/icons/free_shipping.png" width="36" height="36"></div>
            <div class="col-sm-9 col-xs-10">
               <h4>Fast Shipping</h4>
               <strong>96%</strong> on-time shipping<br>
               <strong>5-7 days</strong> to deliver(average)
            </div>
         </div>
         <div class="p_8 clearfix">
            <div class="col-sm-3 col-xs-2 nrp"><img src="../images/icons/product_returns.png" width="36" height="31"></div>
            <div class="col-sm-9 col-xs-10">
               <h4>Returns</h4>
               <strong>30-day</strong> <a href="http://www.rebelsmarket.com/pages/36-How-do-I-exchange-a-product-that-I-purchased-" target="_blank">return policy</a> for most items<br>
               <strong>Less</strong> than 4 days to process
            </div>
         </div>
         <div class="p_8 clearfix">
            <div class="col-sm-3 col-xs-2 nrp"><img src="../images/icons/smile.png" width="36" height="36"></div>
            <div class="col-sm-9 col-xs-10">
               <h4>Excellent customer service</h4>
               Promoting a positive, helpful and<br>
               friendly environment
            </div>
         </div>
      </div>
      <div class="ptb_20 border_bottom clearfix">
         <div class="col-sm-6 col-xs-5">Based on the above
            categories, stores will be evaluated and awarded
            he following badges:
         </div>
         <div class="col-sm-6 col-xs-7 np">
            <div class="medal"><img src="../images/icons/gold_badge.png" width="39" height="55"><br>Gold</div>
            <div class="medal"><img src="../images/icons/bronze_badge.png" width="39" height="55"><br>Bronze</div>
            <div class="medal"><img src="../images/icons/silver_badge.png" width="39" height="55"><br>Silver</div>
         </div>
      </div>
      <div class="p_8 clearfix">
         <div class="plr_10 store_footer">
           <a href="#" target="_blank">Privacy Policy</a> &nbsp;&bull;&nbsp;
           <a href="#" target="_blank">Verify</a> &nbsp;&bull;&nbsp;
           <a href="#" target="_blank">About RebelsMarket Trusted Store</a>
        </div>
      </div>
   </div>
</div>
<!--Dialog box ends-->
