<div class="one-third column">
		<!-- Headline -->
		<h4>Trending This Week</h4>
		<div class="clearfix"></div>

		<ul class="product-list">

			<li><a href="#">
        <img src="../images/display-tshirt.jpg" alt="">
				<div class="product-list-desc">Canvas Backpack <i>$59.00</i></div>
			</a></li>

			<li><a href="#">
        <img src="../images/display-tshirt.jpg" alt="">
				<div class="product-list-desc">Long Sleeve Shirt <i>$29.00</i></div>
			</a></li>

			<li><a href="#">
        <img src="../images/display-tshirt.jpg" alt="">
				<div class="product-list-desc">Tommy Hilfiger Shirt Beat <i>$89.00</i></div>
			</a></li>

			<li><div class="clearfix"></div></li>

		</ul>

</div>
