<aside class="abt-seller" id="product-detail-upper-fold">
    <section class="abt-info floating-shopping-cart">
      <div class="sub-title">Romania Mens Gothic Punk Worldwide Free Shipping Gorgeous Black Thank Top</div>
      <div class="other-imgs clearfix">
        <section class="select-quantity clearfix">
            <form action="" method="get" class="clearfix">
                <div class="catCol catCol-wide">
                    <label>Color</label>
                    <select name="">
                      <option value="-1_size" selected="selected">Select Size</option
                      <option>Small</option>
                      <option>Medium</option>
                      <option>Large</option>
                    </select>
                </div>

                <div class="catCol catCol-wide">
                  <label>Size <a class="" href="">View size chart</a></label>
                  <select name="">
                    <option value="-1_size" selected="selected">Select Size</option
                    <option>1</option>
                      <option>2</option>
                      <option>3</option>
                  </select>

                </div>
                <div class="catCol catCol-wide">
                  <label>Quantity</label>
                  <select name="">
                    <option value="-1_size" selected="selected">Select Size</option>
                    <option>1</option>
                      <option>2</option>
                      <option>3</option>
                  </select>
                </div>

              </form>
        </section>

        <section class="pricing clearfix">
            <div class="price-now">
              <span class="list-price">List Price: <del class="medium-price">USD $100.00</del></span><br>
              <span class="list-price">Offer Price: <span class="medium-price savings">USD $20.00</span></span><br>
              <p class="free-shipping">+ Free Shipping</p>
              <span class="list-price">You Save:	<span class="savings medium-price">$89.01 (41% Off)</span></span>
            </div>
            <a class="add-to-cart red" href="">Add to Cart</a>
            <a class="add-wishlist" href="">Add to watchlist</a>
        </section>
      </div>
    </section>
</aside>
