<aside class="abt-seller" id="product-detail-upper-fold">
    <section class="abt-info floating-shopping-cart">
      <div class="sub-title">Romania Mens Gothic Punk Worldwide Free Shipping Gorgeous Black Thank Top</div>
      <div class="other-imgs clearfix">
        <section class="select-quantity clearfix">
            <form action="" method="get" class="clearfix">
                <div class="catCol">
                    <label>Color</label>
                    <select name="">
                      <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                    </select>
                </div>

                <div class="catCol">
                  <label>Size</label>
                  <select name="">
                    <option>1</option>
                      <option>2</option>
                      <option>3</option>
                  </select>
                </div>
                <div class="catCol">
                  <label>Quantity</label>
                  <select name="">
                    <option>1</option>
                      <option>2</option>
                      <option>3</option>
                  </select>
                </div>

              </form>
              <a class="view-size-chart" href="">View size chart</a>
        </section>

        <section class="pricing clearfix">
            <div class="price-now">
                <h4>$54.99</h4>
                <p>+ Free Shipping</p>
            </div>
            <a class="add-to-cart" href="">Add to Cart</a>
            <a class="add-wishlist" href="">Add to watchlist</a>
        </section>
      </div>
    </section>
</aside>
