<div id="top_order_summary" class="block_300 float_right border_l paddingL_20 bordered_box">
  <h4>Order Summary</h4>
  <p class="marginB_10">You have 2 items in your shopping cart</p>

  <div class="block border_b paddingTB_5">
    <p>Item Total<span class="float_right txt_bold">$173.09 USD</span></p>
  </div>
  <div class="block border_b paddingTB_5">
    <p>Shipping<span class="float_right txt_bold">$8.00 USD</span></p>
  </div>

  <div class="block paddingTB_5">
    <p class="txt_bold">Order Total <span class="float_right">$181.09 USD</span></p>
  </div>
</div>
