<article class="review-main clearfix">
    <figure>
        <a href=""><img src="../images/other-prdct-2.jpg"></a>
    </figure>
    <div class="review-dt">
       <div class="prodTitle clearfix product-review-title">
           <a href="#">Necessary Evil Alcis Coat Corset Back Coat Corset BackCoat Corset Back   </a>
           <span>$ 122.93</span>
       </div>
       <div class="clasic-rv clearfix">
         <a class="review-link" href="#">
           <i class="review-stars star-5"></i>
         </a>
       </div>
       <h5>Sizing issue</h5>
      <p>
         Material and stricture of the coat is great but sizing is way off. Labeled as 2XL and is way too small is size for a 2XL
      </p>
    </div>
    <div class="dat-stamp">
        November 28, 2013 <br>
        <i>United Kingdom </i>
    </div>
</article>
