<%= render 'header' %>
    <div id="content">

      <div class="container headerMarginTop">
			<div class="storyBanner">
                 <div class="discBox clearfix">
                        <div class="iconSide"><img src="../images/cartIco.png" /></div>
                        <div class="discDesc">
                            <h3>Over 20,000 unique Products</h3>
                            <p>Shop 500 + niche brands</p>
                        </div>
                    </div>

                     <div class="discBox clearfix">
                        <div class="iconSide"><img src="../images/track_icon.png" /></div>
                        <div class="discDesc">
                            <h3>We ship Worldwide</h3>
                            <p>Our sellers ship worldwide</p>
                        </div>
                    </div>

                     <div class="discBox clearfix">
                        <div class="iconSide"><img src="../images/security_ico.png" /></div>
                        <div class="discDesc">
                            <h3>Secure online shopping</h3>
                            <p>Safe and secure checkout</p>
                        </div>
                    </div>

            </div>         
      </div><!-- end of .container -->

    </div><!-- end of #content -->
<%= render 'footer' %>