<%= render 'blog-header' %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="content">
    <section class="new-blog-section" id="new-blog-section">
        <div class="container clearfix new-blog-wrap">
             <section class="blog-lft">
                <article class="blog-block">
                    <h3><a href="">Ten Tips For Looking Chic With Accessories</a></h3>
                    <div class="by-author">
                        <span>BY <a href="">John Doe</a></span>
                        <span>Dec 19 2013</span>
                        <span>Punk Rock</span>
                        <a class="comment-count" href="#">120</a>
                    </div>
                    <figure>
                        <a href=""><img src="img/blog_placeholder.jpg"></a>
                    </figure>
                    <p>
                         Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus...
                        <a href="" class="more-link">Read more</a>
                    </p>
                    <div class="social-likes">
                            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                            <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="20" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                            <!-- Place this tag where you want the +1 button to render. -->
                            <div class="g-plusone" data-size="medium"></div>

                            <!-- Place this tag after the last +1 button tag. -->
                            <script type="text/javascript">
                              (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                              })();
                            </script>
                            <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
                    </div>
                </article>

                <article class="blog-block">
                    <h3><a href="">Ten Tips For Looking Chic With Accessories</a></h3>
                    <div class="by-author">
                        <span>BY <a href="">John Doe</a></span>
                        <span>Dec 19 2013</span>
                        <span>Punk Rock</span>
                        <a class="comment-count" href="#">120</a>
                    </div>
                    <figure>
                        <a href=""><img src="img/blog_placeholder.jpg"></a>
                    </figure>
                    <p>
                         Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus...
                        <a href="" class="more-link">Read more</a>
                    </p>
                    <div class="social-likes">
                            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                            <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="20" data-layout="button_count" data-show-faces="false" data-send="false"></div>

                            <!-- Place this tag where you want the +1 button to render. -->
                            <div class="g-plusone" data-size="medium"></div>

                            <!-- Place this tag after the last +1 button tag. -->
                            <script type="text/javascript">
                              (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                              })();
                            </script>
                            <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
                    </div>
                </article>

                <article class="blog-block">
                    <h3><a href="">Ten Tips For Looking Chic With Accessories</a></h3>
                    <div class="by-author">
                        <span>BY <a href="">John Doe</a></span>
                        <span>Dec 19 2013</span>
                        <span>Punk Rock</span>
                        <a class="comment-count" href="#">120</a>
                    </div>
                    <figure>
                        <a href=""><img src="img/blog_placeholder.jpg"></a>
                    </figure>
                    <p>
                         Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus...
                        <a href="" class="more-link">Read more</a>
                    </p>
                    <div class="social-likes">
                            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                            <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="20" data-layout="button_count" data-show-faces="false" data-send="false"></div>

                            <!-- Place this tag where you want the +1 button to render. -->
                            <div class="g-plusone" data-size="medium"></div>

                            <!-- Place this tag after the last +1 button tag. -->
                            <script type="text/javascript">
                              (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                              })();
                            </script>
                            <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
                    </div>
                </article>
                   <h2>Trending items on RebelsMarket</h2>
                    <div class="blog-other-interest">
                        <a href="">
                            <div class="intrest-box">
                                <figure>
                                    <img src="../images/other-interest.jpg">
                                </figure>
                                <div class="img-caption">
                                    <img src="../images/blog-avatar.jpg">
                                    <div class="capt-info">
                                        <h5>Skeleton hand spiked bra</h5>
                                        <span>By Rachels graveyard</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="intrest-box">
                                <figure>
                                    <img src="../images/other-interest.jpg">
                                </figure>
                                <div class="img-caption">
                                    <img src="../images/blog-avatar.jpg">
                                    <div class="capt-info">
                                        <h5>Skeleton hand spiked bra</h5>
                                        <span>By Rachels graveyard</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="intrest-box">
                                <figure>
                                    <img src="../images/other-interest.jpg">
                                </figure>
                                <div class="img-caption">
                                    <img src="../images/blog-avatar.jpg">
                                    <div class="capt-info">
                                        <h5>Skeleton hand spiked bra</h5>
                                        <span>By Rachels graveyard</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>

                    <article class="article-list">
                        <figure class="article-img">
                             <a href=""><img src="../images/blog-article.jpg"></a>
                        </figure>

                        <div class="article-teaser">
                            <h1> <a href="">A Love Letter to Mascara</a></h1>
                            <div class="by-author">
                                <span>BY <a href="">John Doe</a></span>
                                <span>Dec 19 2013</span>
                                <span>Punk Rock</span>
                                <a class="comment-count" href="#">81</a>
                            </div>
                            <p>
                                Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus.
                            Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus.

                        </p>
                        </div>
                    </article>

                    <article class="article-list">
                        <figure class="article-img">
                             <a href=""><img src="../images/blog-article.jpg"></a>
                        </figure>

                        <div class="article-teaser">
                            <h1> <a href="">A Love Letter to Mascara</a></h1>
                            <div class="by-author">
                                <span>BY <a href="">John Doe</a></span>
                                <span>Dec 19 2013</span>
                                <span>Punk Rock</span>
                                <a class="comment-count" href="#">12</a>
                            </div>
                            <p>
                                Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus.
                            Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus.

                        </p>
                        </div>
                    </article>

                    <article class="article-list">
                        <figure class="article-img">
                             <a href=""><img src="../images/blog-article.jpg"></a>
                        </figure>

                        <div class="article-teaser">
                            <h1> <a href="">A Love Letter to Mascara</a></h1>
                            <div class="by-author">
                                <span>BY <a href="">John Doe</a></span>
                                <span>Dec 19 2013</span>
                                <span>Punk Rock</span>
                                <a class="comment-count" href="#">126</a>
                            </div>
                            <p>
                                Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus.
                            Vel urna! Hac et sed sociis urna lundium odio! Porttitor tortor lundium magna in! Aliquet urna cum, in! Et pulvinar vut integer? Magnis ridiculus urna enim urna porttitor. Penatibus! Eros! Porta turpis eu dapibus enim! Aliquet ultricies mus.

                        </p>
                        </div>
                    </article>

                    <div class="page-pagination clearfix">
                      <a href="" class="prevBtn disabled">Previous</a>
                      <a href="" class="nextBtn">Next</a>
                    </div>

                    <h2>Things that might interest you at RebelsMarket</h2>
                    <div class="blog-other-interest">
                        <a href="">
                            <div class="intrest-box">
                                <figure>
                                    <img src="../images/other-interest.jpg">
                                </figure>
                                <div class="img-caption">
                                    <img src="../images/blog-avatar.jpg">
                                    <div class="capt-info">
                                        <h5>Skeleton hand spiked bra</h5>
                                        <span>By Rachels graveyard</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="intrest-box">
                                <figure>
                                    <img src="../images/other-interest.jpg">
                                </figure>
                                <div class="img-caption">
                                    <img src="../images/blog-avatar.jpg">
                                    <div class="capt-info">
                                        <h5>Skeleton hand spiked bra</h5>
                                        <span>By Rachels graveyard</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="intrest-box">
                                <figure>
                                    <img src="../images/other-interest.jpg">
                                </figure>
                                <div class="img-caption">
                                    <img src="../images/blog-avatar.jpg">
                                    <div class="capt-info">
                                        <h5>Skeleton hand spiked bra</h5>
                                        <span>By Rachels graveyard</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
             </section>
             <section class="blog-rght">
                    <h4>Subscribe</h4>
                    <p>Sign up to get regular updates from RebelsMarket</p>
                    <div class="subscribe clearfix">
                        <form>
                            <input type="email" placeholder="Email">
                            <input type="button" value="Subscribe">
                        </form>
                    </div>

                    <h4>Connect</h4>
                    <div class="social-likes">
                            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                            <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="20" data-layout="button_count" data-show-faces="false" data-send="false"></div>

                            <!-- Place this tag where you want the +1 button to render. -->
                            <div class="g-plusone" data-size="medium"></div>

                            <!-- Place this tag after the last +1 button tag. -->
                            <script type="text/javascript">
                              (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/../javascripts/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                              })();
                            </script>
                            <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
                    </div>

                    <h4>Write for Us</h4>
                    <p>Share your story with over 4 million readers</p>
                    <button class="flat-button blog-form-trigger"><strong>Get Started Now</strong></button>
                    <div class="write-for-us">
                        <form>
                            <input type="text" placeholder="Name:">
                            <input type="email" placeholder="Email:">
                            <textarea placeholder="Message"></textarea>
                            <input type="submit" value="Send">
                        </form>
                    </div>

                    <div class="blog-ad-banner">
                        <a href=""><img src="../images/blog-ad-banner.jpg"></a>
                    </div>
                    <section class="blog-popular-tab">
                        <div id="blog-popular-tab" class="tab-container">
                              <ul class='etabs'>
                                <li class='tab'>
                                    <a href="#popula24hr-html" class="border-right">
                                        <h5>POPULAR</h5>
                                        <h1>Past 24 Hours</h1>
                                    </a>
                                </li>
                                <li class='tab'>
                                    <a href="#popularweek-html">
                                        <h5>POPULAR</h5>
                                        <h1>This Week</h1>
                                    </a>
                                    </li>
                              </ul>
                              <div id="popula24hr-html" class="tabContent">
                                  <div class="blog-popular-list">
                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-1.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>The Chanel Hoedown</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-2.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>PUMA MMQ Leather Stepper..</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-3.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>The Simpsons Limited-Edition...</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-4.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>Crooks and Castles Hits PLNDR</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-5.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>Jordan Brand Pack</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-6.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>Yeezus Pop-Up Shop in Chicago</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-7.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>Del Toro Red Suede Biker..</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-8.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>BELIEF 2013 Holiday Lookbook</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                  </div>
                              </div>
                              <div id="popularweek-html"  class="tabContent">
                                <div class="blog-popular-list">
                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-1.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>The Chanel Hoedown</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-2.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>PUMA MMQ Leather Stepper..</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-3.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>The Simpsons Limited-Edition...</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-4.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>Crooks and Castles Hits PLNDR</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-5.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>Jordan Brand Pack</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-6.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>Yeezus Pop-Up Shop in Chicago</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-7.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>Del Toro Red Suede Biker..</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="">
                                            <div class="popular-single clearfix">
                                                <figure>
                                                    <img src="../images/popular-single-8.jpg">
                                                </figure>
                                                <div class="poplr-info">
                                                    <h2>BELIEF 2013 Holiday Lookbook</h2>
                                                    <p>Essential to every man's wardrobe..</p>
                                                    <span>1 day ago</span>
                                                </div>
                                            </div>
                                        </a>

                                  </div>
                              </div>
                            </div>
                    </section>

                    <div class="blog-ad-banner">
                        <a href=""><img src="../images/blog-ad-banner-1.jpg"></a>
                    </div>
                    <div class="blog-ad-banner">
                        <a href=""><img src="../images/blog-ad-banner-2.jpg"></a>
                    </div>

             </section>
         </div>
    </section>

</div><!-- end of #content -->

<%= render 'footer' %>
<script type="text/javascript" async src="//assets.pinterest.com/../javascripts/pinit.js"></script>
