<%= render 'header' %>
<div id="content">

  <div class="container shopingSpacing">

      <section id="cartSection" class="cartSection clearfix">
        <article class="simple clearfix">
        <div class="leftPane">
          <h1 class="success">1 item added to Cart</h1>
        </div>
       </article>
      <div class="rightWing resetWidthR">
        <div class="leftCol">
         <div class="productPair clearfix">
           <div class="detaileft">
           <img src="../images/display-tshirt5.jpg" alt="">
           </div>
           <div class="detailRight">
           <h2 class="simple"><a href="#">Pair High Waisted Cosmic Printed Leggings Branded Waist</a></h2>
             <div class="datagrid datagrid-no-style">
              <form action="">
              <table>
              <tbody>
                <tr>
                <td>Size</td>
                <td>S</td>
                </tr>
                <tr>
                <td>Quantity</td>
                <td>1
                </td>
                </tr>
                <tr>
                <td>Price</td>
                <td>
                  <p><strong>$30.00 USD + $0.00 USD Shipping</strong></p>
                </td>
                </tr>
              </tbody>
              </table>
              </form>
            </div>
           </div>
         </div>

        </div>


        <div class="rightCol">
          <div class="datagrid">
            <table>
              <tbody>
                   <tr>
                    <td><strong>Order subtotal</strong></td>
                    <td>$18.00 USD</td>
                  </tr>
                  <tr colspan=2>
                    <td>
                      4 items in your Cart
                    <td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="checkMain">
            <a href="#" class="checkOut butnFix">Proceed to Checkout</a>
          </div>
        </div>

      </div>

      </section>
      <section class="otherInterest">
        <h3>Customers Who Shopped for Ted Baker Men's Huska2 Monk Strap,Black,8 M US Also Shopped For</h3>
        <article class="universalSlider">
            <ul class="bxslider" id="universal">
              <li>
                <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>
              </li>

              <li>

                            <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>
                <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>
              </li>

              <li>

                              <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>
              </li>

              <li>

                              <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>

                 <div class="productBox galry-item">
                  <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                  <div class="displayInfo">
                    <div class="subDetails clearfix">
                    <h2><a href="#">Fashion Universe Star</a></h2>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                    </div>
                    <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="#" class="star">138</a>
                    <a href="javascript:void(0)" class="share">24</a>
                    </div>
                  </div>
                  <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                  </div>
                  <div class="borderLine"></div>
                 </div>
              </li>

            </ul>
        </article>
        <div class="btnCenter">
            <a href="#" class="viewAll">View All</a>
        </div>
      </section>

  </div><!-- end of .container -->

</div><!-- end of #content -->
<%= render 'footer' %>
