<%= render 'header' %>
  <div id="content">

      <div class="container headerMarginTop">

      <%= render 'banner' %>

        <div class="reload-banner clearfix">
           <div class="banner-title">Expand your unique, artisty &amp; rebellious way of life</div>
           <div class="btnsMain">
               <a href="sign-up.php" class="start_btn">Sign Up</a>
               or <a href="">open your own store</a> for free
            </div>
        </div>

        <section class="content-main clearfix">
           <aside class="side-bar">
              <h4>Customer Testimonials</h4>
              <div class="cart_lft">

                <div class="cartReview clearfix">
                   <div class="prodTitle clearfix">
                       <h1><a href="#">Tattoo Icon T-shirt</a></h1>
                   </div>
                   <p class="comment">Beautiful coat, had lots of complements already!</p>
                   <a href="#" class="stars4 review_stars_wrapper"></a>
                    <div class="contributor clearfix">
                        <figure>
                            <img src="../images/people1.png" alt="">
                        </figure>
                        <div class="author">
                            <h1><a href="#">John doe</a></h1>
                            <span>October 13, 2013</span>
                            <p>Halesowen, United Kingdom</p>
                        </div>
                    </div>
                </div>

                <div class="cartReview clearfix">
                   <div class="prodTitle clearfix">
                       <h1><a href="#">Tattoo Icon T-shirt</a></h1>
                   </div>
                   <p class="comment">Beautiful coat, had lots of complements already!</p>
                    <a href="#" class="stars4 review_stars_wrapper"></a>
                    <div class="contributor clearfix">
                        <figure>
                            <img src="../images/people1.png" alt="">
                        </figure>
                        <div class="author">
                            <h1><a href="#">John doe</a></h1>
                            <span>October 13, 2013</span>
                            <p>Halesowen, United Kingdom</p>
                        </div>
                    </div>
                </div>

            </div>

            <h4>Get Special Offers</h4>
              <div class="verticle-menu">
                  <span class="closebox"></span>
                  <p>Enter your address to receive special offers and promotion from rebels market.</p>
                  <form>
                      <input type="text" class="form-control" placeholder="Email address">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              by checking this box i certify that as of today i am at least 18 years of age
                            </label>
                          </div>
                     <button type="submit" class="flat-button">SIGN UP</button>
                  </form>

              </div>


           </aside>

           <aticle class="content-panel">
              <h2 class="headline">For Her</h2>
              <section class="home-prdct menPrdct clearfix">
                  <a href="">
                      <div class="single-prd w2 home-storyboards" >
                          <img src="../images/storyboards/women-tops.jpg">
                          <h2>Heels</h2>
                      </div>
                  </a>

                  <a href="">
                      <div class="single-prd w2 home-storyboards">
                          <img src="../images/storyboards/women-tshirts.jpg">
                          <h2>Necklaces</h2>
                      </div>
                  </a>

                  <a href="">
                      <div class="single-prd w2 home-storyboards">
                          <img src="../images/storyboards/women-shirts.jpg">
                          <h2>Shirts</h2>
                      </div>
                  </a>

              </section>

              <h2 class="headline">MAN</h2>
              <section class="home-prdct menPrdct clearfix">
                <a href="">
                    <div class="single-prd w2 home-storyboards">
                        <img src="../images/storyboards/men-tshirts.jpg">
                        <h2>Shirts</h2>
                    </div>
                </a>

                <a href="">
                    <div class="single-prd w2 home-storyboards">
                        <img src="../images/storyboards/men-hoodies.jpg">
                        <h2>Shirts</h2>
                    </div>
                </a>

                <a href="">
                    <div class="single-prd w2 home-storyboards">
                        <img src="../images/storyboards/men-ties.jpg">
                        <h2>Shirts</h2>
                    </div>
                </a>


              </section>

              <h2>More Categories to Shop <a href="">See more</a> </h2>
              <section class="more-categories clearfix">
                  <a href="">
                      <div class="single-prd">
                        <img src="../images/storyboards/earcuffs.jpg">
                          <h2>EarCuffs</h2>
                      </div>
                  </a>
                  <a href="">
                      <div class="single-prd">
                            <img src="../images/storyboards/men-ties.jpg">
                          <h2>Bar &amp; <br>Glassware</h2>
                      </div>
                  </a>
                  <a href="">
                      <div class="single-prd">
                         <img src="../images/storyboards/necklaces.jpg">
                          <h2>Necklaces</h2>
                      </div>
                  </a>
                  <a href="">
                      <div class="single-prd">
                          <img src="../images/storyboards/earrings.jpg">
                          <h2>Earrings</h2>
                      </div>
                  </a>
                  <a href="">
                      <div class="single-prd">
                        <img src="../images/storyboards/rings.jpg">
                          <h2>Rings</h2>
                      </div>
                  </a>
              </section>


           </aticle>
        </section>



  </div><!--End .container-->
  </div> <!--End # container-->
<%= render 'home-footer' %>
