<%= render 'header' %>

<div class="page_wrapper">

  <%= render 'banner' %>

  <div class="selling-points">
    <ul>
      <li><a href="#">GET 10% Off your first purchase!</a></li>
      <li>Shop from over 5000 Alternative Stores</li>
      <li>Discover Niche & Exclusive Brands</li>
    </ul>
  </div>

  <div class="category_title title_a"><p>Browse Women</p></div><!-- category title ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Dresses</div><!-- content title ends -->
            <div class="content_pad">
               <div class="content_menu">
                  <a href="#" class="content_link">Bodycon dresses</a>
                  <a href="#" class="content_link">Maxi dresses</a>
                  <a href="#" class="content_link">Lace dresses</a>
                </div><!-- content menu ends -->
              <a href="#"><img src="../images/homepage/Dresses.jpg" class="pad_img"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Tops</div><!-- content title ends -->
            <div class="content_pad">
               <div class="content_menu">
                  <a href="#" class="content_link">Cropped</a>
                  <a href="#" class="content_link">Tanks</a>
                  <a href="#" class="content_link">Tees</a>
                  <a href="#" class="content_link">Graphics</a>
                </div><!-- content menu ends -->
              <a href="#"><img src="../images/homepage/Tops.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Corsets</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Corsets.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_two">Coats & Jackets</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../../images/homepage/Coat.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Leggings</div><!-- content title ends -->
            <div class="content_pad">
               <div class="content_menu">
                  <a href="#" class="content_link">Basic</a>
                  <a href="#" class="content_link">Printed</a>
                </div><!-- content menu ends -->
              <a href="#"><img src="../images/homepage/Leggings.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Intimates</div><!-- content title ends -->
            <div class="content_pad">
               <div class="content_menu">
                  <a href="#" class="content_link">Underwear</a>
                  <a href="#" class="content_link">Bras</a>
                </div><!-- content menu ends -->
              <a href="#"><img src="../images/homepage/Intimates.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad2">
        <div class="content_wrapper">
            <div class="ad_one">
              <a href="#"><img src="../images/homepage/big_ad.jpg"/></a>
          </div><!-- ad_one ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 2 ends -->
    <div class="clear"></div>
  <div class="category_title title_a"><p>Browse Men</p></div><!-- category title ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Tshirts</div><!-- content title ends -->
            <div class="content_pad">
               <div class="content_menu">
                  <a href="#" class="content_link">Basic</a>
                  <a href="#" class="content_link">Graphic tees</a>
                  <a href="#" class="content_link">Meme tees</a>
                </div><!-- content menu ends -->
              <a href="#"><img src="../images/homepage/Tshirts.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Jeans </div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Jeans.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_three">Hoodies & Sweatshirts</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Hoodies.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Underwear</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Underwear.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Belt</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Belt.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Jackets</div><!-- content title ends -->
            <div class="content_pad">
               <div class="content_menu">
                  <a href="#" class="content_link">Leather jackets</a>
                  <a href="#" class="content_link">Regular jackets</a>
                </div><!-- content menu ends -->
              <a href="#"><img src="../images/homepage/Jackets.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Shirts</div><!-- content title ends -->
            <div class="content_pad">
               <div class="content_menu">
                  <a href="#" class="content_link">Casual</a>
                  <a href="#" class="content_link">Dress shirts</a>
                </div><!-- content menu ends -->
              <a href="#"><img src="../images/homepage/Shirts.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="form_pad_wrapper">
                <div class="form_pad">
                    <p><span class="text_one">Get 10% Off <br/>your first order</span><br/>
                    <span class="text_two">Sign up to receive discount code right now</span></p>
                    <form>
                        <label> Email address</label>
                        <input type="text" class="input_pad"/>
                        <input type="button" value="Sign Up Now	" class="sign_btn"/>
                    </form>
                </div><!-- form pad ends -->
          </div><!-- form pad wrapper ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="clear"></div>
  <div class="category_title title_b"><p>Browse Jewelry & Accessories</p></div><!-- category title ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Rings</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Rings.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_two">Handbags & Purses</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Handbags.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Watches</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Watches.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->
    <div class="pad1">
        <div class="content_wrapper">
            <div class="content_title title_one">Scarves</div><!-- content title ends -->
            <div class="content_pad">
              <a href="#"><img src="../images/homepage/Scarves.jpg"/></a>
            </div><!-- content pad ends -->
        </div><!-- content wrapper ends -->
    </div><!-- pad 1 ends -->


    <div class="review_wrapper">
      <div class="category_title title-auto"><p>What Our Customers Are Saying</p></div><!-- category title ends -->

        <article class="review-main clearfix">
  <figure>
    <img alt="Shitsville_black_vest_top_white_leather_made_in_italy_fashion_tops_4" src="https://d2fzf9bbqh0om5.cloudfront.net/../images/95203/thumbnail/shitsville_black_vest_top_white_leather_made_in_italy_fashion_tops_4.jpg?1385913807" />
  </figure>
  <div class="review-dt">
    <div class="prodTitle clearfix">
       <h4><a href="http://www.rebelsmarket.com/products/shitsville-black-vest-top-white-leather-made-in-italy-9019">Shitsville Black Vest Top White Leath...</a></h4>
       <h5 class="shipprice"><span class="currency" title="USD">USD</span> <span class="unit" title="$">$</span> <span class="number" title="54.05">54.05</span></h5>
    </div>
    <div class="clasic-rv clearfix">
      <a href="http://www.rebelsmarket.com/products/shitsville-black-vest-top-white-leather-made-in-italy-9019" class="stars5 review_stars_wrapper "></a>
    </div>
    <div class="short">
      <h4>Fits well and looks great</h4>
      <p>It&#x27;s a very stylish item, it fits very well and livens up an outfit. The shipping was fast, the size is just right.
The name is somewhat misleading, though - it&#x27;s not white leather. But the material of the vest itself is very nice.</p>
    </div>
  </div>
  <div class="dat-stamp">
    September 17, 2014 <br />
    <i>Russia</i>
  </div>
</article>
<article class="review-main clearfix">
  <figure>
    <img alt="Rockabilly_punk_rock_baby_skull_angel_tank_top_shirt_tops_5" src="https://d2fzf9bbqh0om5.cloudfront.net/../images/51762/thumbnail/rockabilly_punk_rock_baby_skull_angel_tank_top_shirt_tops_5.jpg?1371808003" />
  </figure>
  <div class="review-dt">
    <div class="prodTitle clearfix">
       <h4><a href="http://www.rebelsmarket.com/products/rockabilly-punk-rock-baby-skull-angel-tank-top-shirt-19871">Rockabilly Punk Rock Baby Skull Angel...</a></h4>
       <h5 class="shipprice"><span class="currency" title="USD">USD</span> <span class="unit" title="$">$</span> <span class="number" title="39.00">39.00</span></h5>
    </div>
    <div class="clasic-rv clearfix">
      <a href="http://www.rebelsmarket.com/products/rockabilly-punk-rock-baby-skull-angel-tank-top-shirt-19871" class="stars3 review_stars_wrapper "></a>
    </div>
    <div class="short">
      <h4>Wings</h4>
      <p>The shirt is quality made but the style and sizing are tricky. The wings on the back will not light lie flat on shoulder and the material around the arm is short. If you are the right build for the shirt then buy one in every style because they are cool.</p>
    </div>
  </div>
  <div class="dat-stamp">
    August 26, 2014 <br />
    <i>United States</i>
  </div>
</article><article class="review-main clearfix">
  <figure>
    <img alt="Img_3367" src="https://d2fzf9bbqh0om5.cloudfront.net/../images/29233/thumbnail/IMG_3367.jpg?1364733509" />
  </figure>
  <div class="review-dt">
    <div class="prodTitle clearfix">
       <h4><a href="http://www.rebelsmarket.com/products/sad-liberty-tank-top-rock-ladies-women-vest-t-shirt-tee-12739">Sad Liberty Tank Top Rock Ladies Wome...</a></h4>
       <h5 class="shipprice"><span class="currency" title="USD">USD</span> <span class="unit" title="$">$</span> <span class="number" title="18.00">18.00</span></h5>
    </div>
    <div class="clasic-rv clearfix">
      <a href="http://www.rebelsmarket.com/products/sad-liberty-tank-top-rock-ladies-women-vest-t-shirt-tee-12739" class="stars3 review_stars_wrapper "></a>
    </div>
    <div class="short">
      <h4>one sized isn&#x27;t good at all</h4>
      <p>The subject is great, really like it. Too bad, it&#x27;s a one size, cause it&#x27;s a world too wide at the bust measurement: </p>
    </div>
  </div>
  <div class="dat-stamp">
    August 08, 2014 <br />
    <i>Germany</i>
  </div>
</article><article class="review-main clearfix">
  <figure>
    <img alt="Rockabilly_punk_rock_baby_harley_biker_gothic_skull_top_tops_5" src="https://d2fzf9bbqh0om5.cloudfront.net/../images/49582/thumbnail/rockabilly_punk_rock_baby_harley_biker_gothic_skull_top_tops_5.jpg?1371066606" />
  </figure>
  <div class="review-dt">
    <div class="prodTitle clearfix">
       <h4><a href="http://www.rebelsmarket.com/products/rockabilly-punk-rock-baby-harley-biker-gothic-skull-top-19181">Rockabilly Punk Rock Baby Harley Bike...</a></h4>
       <h5 class="shipprice"><span class="currency" title="USD">USD</span> <span class="unit" title="$">$</span> <span class="number" title="39.00">39.00</span></h5>
    </div>
    <div class="clasic-rv clearfix">
      <a href="http://www.rebelsmarket.com/products/rockabilly-punk-rock-baby-harley-biker-gothic-skull-top-19181" class="stars5 review_stars_wrapper "></a>
    </div>
    <div class="short">
      <h4>Great seller to deal with</h4>
      <p>I got this top today, very speedy arrival love the top, recommend highly will do business with them again.  Thanks A+++++++ seller</p>
    </div>
  </div>
  <div class="dat-stamp">
    July 26, 2014 <br />
    <i>United States</i>
  </div>
</article>
    </div>
</div><!-- page wrapper ends -->

<%= render 'home-footer' %>
