<%= render 'headers/mobile-navigation' %>

<div id="content">
  <div class="navigate-back">
    <a href="#"><</a>
    <span>Red Neck With style with very long names am not sure why Red Neck With</span>
    <span class="product-price">
      <span class="number" title="45.00">USD 4500.00</span>
    </span>
  </div>
  <div class="container headerMarginTop">
    <div class="mobile-header">
      <!-- <div class="product-title">
        Red Neck With style with very long names am not sure why
        <a href="#" class="stars4 review_stars_wrapper"><span>(2000)</span></a>
      </div> -->

      <span class="product-price">
        <span class="number" title="45.00">USD 4500.00</span>
      </span>

    </div>
     <section class="ship-count clearfix">
          <div class="img-half">
                <img src="../images/feature-img.jpg">
          </div>
          <div class="info-half">

            <section class="select-quantity clearfix">
                <form action="" method="get" class="clearfix">
                    <div class="catCol">
                        <label>Size</label>
                        <select name="">
                          <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                        </select>
                    </div>
                    <div class="catCol">
                      <label>Color</label>
                      <select name="">
                        <option>1</option>
                          <option>2</option>
                          <option>3</option>
                      </select>
                    </div>
                  </form>
            </section>

            <section class="pricing clearfix">
                <a class="add-to-cart" href="">Add to cart</a>
            </section>

          </div>
     </section>

  </div><!-- end of .container -->

</div><!-- end of #content -->
