<%= render 'header' %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="content">
  <div class="container headerMarginTop">

    <div class="checkout-banner">
      <span title="Close " alt="Close" class="hide-shoppingcart-banner">X</span>
      <span class="checkout-banner-title">Ready to Checkout? Am always here whenever you are</span>
      <a class="checkout-banner-button" title="Checkout" data-event="checkout-banner-button">(2) Checkout Now</a>
    </div>

     <section class="breadcrumb-section clearfix">
          <div class="bread-crumb">
              <div class="searchNav">
                  <a href=""><img src="../images/homeIcon.png"></a>
                  <a href="">Tees</a>
                  <a href="">Be An Ace sfsdfsTee Men's White</a>
               </div>
          </div>
          <div class="social-likes">
              <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="20" data-layout="button_count" data-show-faces="false" data-send="false"></div>

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/../javascripts/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
          </div>
     </section>

     <section class="title-block clearfix">
         <div class="side-title thin-title">
             <h1>Women Sleeveless Red Chiffon Big Hem Blouse</h1>
             <div class="dev-info clearfix">
                  <div class="sel-info">
                      <a href=""><img src="../images/avata-01.jpg" class="avatar"></a>
                      <div class="info-area">
                           <h4>from<a href="">KATES CLOTHING</a></h4>
                           <p>Kent, South East England</p>
                      </div>
                      <a class="contact-seller-btn" href="">Contact seller</a>
                  </div>
                  <div class="social-likes">
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                    <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="20" data-layout="button_count" data-show-faces="false" data-send="false"></div>

                    <!-- Place this tag where you want the +1 button to render. -->
                    <div class="g-plusone" data-size="medium"></div>

                    <!-- Place this tag after the last +1 button tag. -->
                    <script type="text/javascript">
                      (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/../javascripts/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                      })();
                    </script>
          </div>
             </div>
         </div>
         <div class="fav-block">
              <div class="box-heading">Like this item?</div>
              <button class="show-love light">Add to favorites</button>
              <span class="folow-count">834</span>
         </div>
     </section>

     <section class="ship-count clearfix">
          <div class="img-half">
                <img src="../images/feature-img.jpg">
          </div>
          <div class="info-half">
            <section class="ship-to-bar clearfix">
                <img src="../images/flag.png" class="ship-to-flag">
                <p>The seller offers <strong>FREE SHIPPING</strong> to Kenya Not your country?</p>
                <a href=""><strong>Not your country?</strong></a>
            </section>
            <section class="review-board clearfix">
                <ul id="product_addon_wrapper">
                <li class="product_addon">
                    <a href="#" class="stars4 review_stars_wrapper"></a>
                  </li>
                </ul>
                <p>(22 Customer Reviews)</p>
            </section>

            <section class="select-quantity clearfix">
                <form action="" method="get" class="clearfix">
                    <div class="catCol">
                        <label>Size <a href="">View size chart</a></label>
                        <select name="">
                          <option value="-1_size" selected="selected">Select Size</option>
                          <option>Small</option>
                          <option>Medium</option>
                          <option>Large</option>
                        </select>
                    </div>

                    <div class="catCol">
                      <label>Quantity</label>
                      <select name="Select Shoes">
                        <option>1</option>
                          <option>2</option>
                          <option>3</option>
                      </select>
                    </div>
                  </form>
            </section>

            <section class="pricing clearfix">
                <div class="price-now">
                    <h4 class="gray-version">$54.99</h4>
                    <p>+ Free Shipping</p>
                </div>
                <a class="add-to-cart" href="">Add to cart</a>
                <a class="add-wishlist" href="">Add to wishlist</a>
            </section>

            <section class="more-images clearfix">
                <h3>More images</h3>
                <div class="img-box">
                    <img src="../images/feature-img.jpg">
                </div>
                <div class="img-box">
                    <img src="../images/feature-img.jpg">
                </div>
            </section>

          </div>
     </section>

     <section class="more-abt-prdct clearfix">
        <article class="prdct-tabs">
            <section class="infoTabs">
                <div id="tab-container" class="tab-container">
                      <ul class='etabs'>
                        <li class='tab'><a href="#productDetail-html">Item details</a></li>
                        <li class='tab'><a href="#shippinfInfo-html">Shipping Information</a></li>
                        <li class='tab'><a href="#cstmReview-html">Customer Reviews</a></li>
                      </ul>
                      <div id="productDetail-html" class="tabContent">
                         <div class="detail-tab">
                               <h5>Item Details</h5>
                               <p>
                                  <strong>Item category:</strong> <a href="">Pants &amp; Jeans</a>
                               </p>
                               <p>
                                  <strong>Item Style</strong> : <a href="">Goth</a> <br>
                               </p>
                               <p>
                                <strong>Item Description</strong> :
                                 Unisex loose fit trousers covered in detail including two double feature pockets, two expanding back pockets and removable eyelet straps. The two shaped feature pockets on the lower legs have removable straps over them.
                               </p>
                               <p>
                                <strong>Item Tags</strong> : <a href="">mens,</a> <a href="">bondadge,</a> <a href="">trousers</a>
                               </p>
                               <p>
                                  <strong>Asking Price: <span class="blue-color">USD $ 72.56</span></strong>
                               </p>

                              <div class="box-heading">Product Image</div>
                               <div class="product-image">
                                  <figure> <img src="../images/product-image.jpg"></figure>
                                  <figure><img src="../images/product-image-back.jpg"></figure>
                               </div>

                               <div class="social-likes">
                                    <span class="sml-txt">Share Item</span>
                                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                                    <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="20" data-layout="button_count" data-show-faces="false" data-send="false"></div>

                                    <!-- Place this tag where you want the +1 button to render. -->
                                    <div class="g-plusone" data-size="medium"></div>

                                    <!-- Place this tag after the last +1 button tag. -->
                                    <script type="text/javascript">
                                      (function() {
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/../javascripts/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                      })();
                                    </script>

                                    <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>

                               </div>

                               <section class="fb-content">
                                  <h1>Write a comment</h1>
                                  <div class="facebook-comment">
                                      <div class="fb-comments" data-href="https://www.facebook.com/photo.php?fbid=480071985434611&amp;set=a.197909266984219.39643.197727247002421&amp;type=1&amp;theater" data-width="722" data-numposts="1" data-colorscheme="light"></div>
                                  </div>
                               </section>


                         </div>
                      </div>
                      <div id="shippinfInfo-html"  class="tabContent">
                        <div class="shipping-info">
                            <h5>Item ships from: <strong>United Kingdom</strong></h5>
                            <div class="datagrid">
                                  <table>
                                      <tbody>
                                         <tr>
                                            <td><strong>Seller ships to</strong></td>
                                            <td><strong>Cost (USD) </strong></td>
                                            <td><strong>With Another Item</strong></td>
                                            <td><strong>Delivery Estimate</strong></td>
                                        </tr>
                                        <tr>
                                            <td>United Kingdom </td>
                                            <td>$4.50</td>
                                            <td>$0.00 USD</td>
                                            <td>3-5 business days</td>
                                        </tr>
                                        <tr>
                                            <td>European Union <span class="blue-color" title="Lorem Ipsum Text goes here">(?)</span> </td>
                                            <td>$0.00 USD</td>
                                            <td>$0.00 USD</td>
                                            <td>1-2 weeks</td>
                                        </tr>
                                        <tr>
                                            <td> United States</td>
                                            <td>$7.50</td>
                                            <td>$0.00 USD</td>
                                            <td>1-2 weeks</td>
                                        </tr>
                                        <tr>
                                            <td>Everywhere Else</td>
                                            <td>$6.50 </td>
                                            <td>$0.00 USD</td>
                                            <td>1-2 weeks</td>
                                        </tr>
                                      </tbody>
                                  </table>
                              </div>

                              <div class="tag-quiz">Have a question</div>

                              <div id="form-trigger">Contact Seller</div>
                              <form id="contact-seller">
                                  <textarea class="cart_textarea" placeholder="Enter message..."></textarea>                                   <input type="submit" class="flat-button" value="Send">
                              </form>
                        </div>
                      </div>
                      <div id="cstmReview-html"  class="tabContent">
                           <div class="prd-reviews">
                                <header>
                                    <h4>
                                    <strong>Overall Rating</strong>
                                    <a href="#" class="stars4 review_stars_wrapper"></a>
                                  </h4>
                                  <h1>Based on 10 Reviews</h1>
                                </header>
                                <article class="review-main clearfix">
                                    <figure>
                                        <a href=""><img src="../images/other-prdct-1.jpg"></a>
                                    </figure>
                                    <div class="review-dt">
                                       <div class="prodTitle clearfix">
                                           <h1><a href="#">Odin Full Length Black Twill Men's Hooded Coat </a></h1>
                                           <h2>$ 122.93</h2>
                                       </div>
                                       <div class="clasic-rv clearfix">
                                          <a href="#" class="stars4 review_stars_wrapper"></a>
                                          <span>:)</span>
                                       </div>

                                      <p>
                                          <strong>Buyer Said:</strong> "positive:)"
                                      </p>
                                    </div>
                                    <div class="dat-stamp">
                                        November 28, 2013 <br>
                                        <i>United Kingdom </i>
                                    </div>
                                </article>

                                <article class="review-main clearfix">
                                    <figure>
                                        <a href=""><img src="../images/other-prdct-2.jpg"></a>
                                    </figure>
                                    <div class="review-dt">
                                       <div class="prodTitle clearfix">
                                           <h1><a href="#">Necessary Evil Alcis Coat Corset Back  </a></h1>
                                           <h2>$ 122.93</h2>
                                       </div>
                                       <div class="clasic-rv clearfix">
                                          <a href="#" class="stars4 review_stars_wrapper"></a>
                                          <span>Sizing issue</span>
                                       </div>

                                      <p>
                                          <strong>Buyer Said:</strong> "Material and stricture of the coat is great but sizing is way off. Labeled as 2XL and is way too small is size for a 2XL. "
                                      </p>
                                    </div>
                                    <div class="dat-stamp">
                                        November 28, 2013 <br>
                                        <i>United Kingdom </i>
                                    </div>
                                </article>

                                <article class="review-main clearfix">
                                    <figure>
                                        <a href=""><img src="../images/other-prdct-3.jpg"></a>
                                    </figure>
                                    <div class="review-dt">
                                       <div class="prodTitle clearfix">
                                           <h1><a href="#">Odin Full Length Black Twill Men's Hooded Coat </a></h1>
                                           <h2>$ 122.93</h2>
                                       </div>
                                       <div class="clasic-rv clearfix">
                                         <a href="#" class="stars4 review_stars_wrapper"></a>
                                          <span>terrible</span>
                                       </div>

                                      <p>
                                          <strong>Buyer Said:</strong> "This is nothing more than a crappy sweatshirt material, this not what most people expect what crap I would never have spent the money for this and have had a lot of problems with Rebels Market things are not described properly. I could have made it for less. I thought it was going to be a cotton or jacket material not sweat shirt material again junk."
                                      </p>
                                    </div>
                                    <div class="dat-stamp">
                                        November 28, 2013 <br>
                                        <i>United Kingdom </i>
                                    </div>
                                </article>

                                <article class="review-main clearfix">
                                    <figure>
                                        <a href=""><img src="../images/other-prdct-4.jpg"></a>
                                    </figure>
                                    <div class="review-dt">
                                       <div class="prodTitle clearfix">
                                           <h1><a href="#">Odin Full Length Black Twill Men's Hooded Coat </a></h1>
                                           <h2>$ 122.93</h2>
                                       </div>
                                       <div class="clasic-rv clearfix">
                                          <a href="#" class="stars4 review_stars_wrapper"></a>
                                          <span>Sizing issue</span>
                                       </div>

                                      <p>
                                          <strong>Buyer Said:</strong> "Material and stricture of the coat is great but sizing is way off. Labeled as 2XL and is way too small is size for a 2XL."
                                      </p>
                                    </div>
                                    <div class="dat-stamp">
                                        November 28, 2013 <br>
                                        <i>United Kingdom </i>
                                    </div>
                                </article>

                                <article class="review-main clearfix">
                                    <figure>
                                        <a href=""><img src="../images/other-prdct-5.jpg"></a>
                                    </figure>
                                    <div class="review-dt">
                                       <div class="prodTitle clearfix">
                                           <h1><a href="#">Odin Full Length Black Twill Men's Hooded Coat </a></h1>
                                           <h2>$ 122.93</h2>
                                       </div>
                                       <div class="clasic-rv clearfix">
                                          <a href="#" class="stars4 review_stars_wrapper"></a>
                                          <span>Sizing issue</span>
                                       </div>

                                      <p>
                                          <strong>Buyer Said:</strong> "Material and stricture of the coat is great but sizing is way off. Labeled as 2XL and is way too small is size for a 2XL."
                                      </p>
                                    </div>
                                    <div class="dat-stamp">
                                        November 28, 2013 <br>
                                        <i>United Kingdom </i>
                                    </div>
                                </article>

                                <article class="review-main clearfix">
                                    <figure>
                                        <a href=""><img src="../images/other-prdct-1.jpg"></a>
                                    </figure>
                                    <div class="review-dt">
                                       <div class="prodTitle clearfix">
                                           <h1><a href="#">Odin Full Length Black Twill Men's Hooded Coat </a></h1>
                                           <h2>$ 122.93</h2>
                                       </div>
                                       <div class="clasic-rv clearfix">
                                          <a href="#" class="stars4 review_stars_wrapper"></a>
                                          <span>Sizing issue</span>
                                       </div>

                                      <p>
                                          <strong>Buyer Said:</strong> "Material and stricture of the coat is great but sizing is way off. Labeled as 2XL and is way too small is size for a 2XL."
                                      </p>
                                    </div>
                                    <div class="dat-stamp">
                                        November 28, 2013 <br>
                                        <i>United Kingdom </i>
                                    </div>
                                </article>

                                <article class="review-main clearfix">
                                    <figure>
                                        <a href=""><img src="../images/other-prdct-3.jpg"></a>
                                    </figure>
                                    <div class="review-dt">
                                       <div class="prodTitle clearfix">
                                           <h1><a href="#">Odin Full Length Black Twill Men's Hooded Coat </a></h1>
                                           <h2>$ 122.93</h2>
                                       </div>
                                       <div class="clasic-rv clearfix">
                                          <a href="#" class="stars4 review_stars_wrapper"></a>
                                          <span>Sizing issue</span>
                                       </div>

                                      <p>
                                          <strong>Buyer Said:</strong> "Material and stricture of the coat is great but sizing is way off. Labeled as 2XL and is way too small is size for a 2XL."
                                      </p>
                                    </div>
                                    <div class="dat-stamp">
                                        November 28, 2013 <br>
                                        <i>United Kingdom </i>
                                    </div>
                                </article>

                                <article class="review-main clearfix">
                                    <figure>
                                        <a href=""><img src="../images/other-prdct-4.jpg"></a>
                                    </figure>
                                    <div class="review-dt">
                                       <div class="prodTitle clearfix">
                                           <h1><a href="#">Odin Full Length Black Twill Men's Hooded Coat </a></h1>
                                           <h2>$ 122.93</h2>
                                       </div>
                                       <div class="clasic-rv clearfix">
                                          <a href="#" class="stars4 review_stars_wrapper"></a>
                                          <span>Sizing issue</span>
                                       </div>

                                      <p>
                                          <strong>Buyer Said:</strong> "Material and stricture of the coat is great but sizing is way off. Labeled as 2XL and is way too small is size for a 2XL."
                                      </p>
                                    </div>
                                    <div class="dat-stamp">
                                        November 28, 2013 <br>
                                        <i>United Kingdom </i>
                                    </div>
                                </article>

                           </div>
                      </div>
                    </div>
            </section>
        </article> <!-- End tabs -->
        <%= render 'floating_shopping_cart' %>
     </section>

   <section class="teaser-banner clearfix">
      <div class="discBox clearfix">
          <div class="iconSide"><img src="../images/cartIco.png"></div>
          <div class="discDesc">
              <div class="box-heading">Over 20,000 unique Products</div>
              <p>Shop 500 + niche brands</p>
          </div>
      </div>
      <div class="discBox clearfix">
          <div class="iconSide"><img src="../images/track_icon.png"></div>
          <div class="discDesc">
              <div class="box-heading">We ship Worldwide</div>
              <p>Our sellers ship worldwide</p>
          </div>
      </div>
      <div class="discBox clearfix">
          <div class="iconSide"><img src="../images/security_ico.png"></div>
          <div class="discDesc">
             <div class="box-heading">Secure online shopping</div>
              <p>Safe and secure checkout</p>
          </div>
      </div>
   </section>
  </div><!-- end of .container -->

</div><!-- end of #content -->

   <%= render 'footer' %>
  <script type="text/javascript" async src="//assets.pinterest.com/../javascripts/pinit.js"></script>
