
<!DOCTYPE html>

<html>

  <head>

    <title>Rebels Market</title>

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <!-- Bootstrap -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

      <script src="../javascripts/html5shiv.js"></script>

      <script src="../javascripts/respond.min.js"></script>

    <![endif]-->

    <script src="../javascripts/css_browser_selector.js" type="text/javascript"></script>
    <link href="../stylesheets/custom.css" rel="stylesheet" media="screen">
    <link href="../stylesheets/home.css" rel="stylesheet" media="screen">
    <link href="../stylesheets/responsive.css" rel="stylesheet" media="screen">
    <link href="../stylesheets/layout.css" rel="stylesheet" type="text/css" />
    
  </head>

  <body>
 
    <div id="seller_ac" class="seller_ac">
        <div class="logo">
          <img src="../images/logo.png" alt="">
        </div>
        <div class="windowrap">
              <div class="titlePane">
                  <h1>Create Your Seller Account</h1>
                  <p>To Sell on RebelsMarket you need a seller account.Please fill in all the required infomation.</p>
              </div>
              <form action="" method="post">
                  <h2>Account Information</h2>
                  <div class="colBlock clearfix">
    
                        <div class="formCol-3 half">
                          <label>Your User ID <span>*</span></label>
                          <input type="text" class="full">
                          <i>Your username will used be identify you on RebelsMarket. Username cannot be changed once selected</i>
                       </div>
    
                      <div class="formCol-3 half">
                        <label>Rebels Store Name<span>*</span></label>
                        <input type="text" class="full">
                        <i>Choose Wisely! You cannot change your Rebels Store once selected.</i>
                     </div>
    
                  </div>
    
                  <div class="colBlock clearfix eigth">
                      <label>Email <span>*</span></label>
                      <input type="email" class="full">
                  </div>
    
                  <div class="colBlock clearfix">
                        <div class="formCol-3 half">
                            <label>Passwords<span>*</span></label>
                            <input type="password" class="full">
                       </div>
                       <div class="formCol-3 half">
                            <label>Confirm Password<span>*</span></label>
                            <input type="password" class="full">
                       </div>
                  </div>
                  <h2>Contact Information</h2>
                  <div class="colBlock clearfix">
                        <div class="formCol-3 half">
                            <label>First Name<span>*</span></label>
                            <input type="text" class="full">
                       </div>
                       <div class="formCol-3 half">
                            <label>Last Name<span>*</span></label>
                            <input type="text" class="full">
                       </div>
                  </div>
    
                  <div class="colBlock clearfix eigth">
                      <label>Address <span>*</span></label>
                      <input type="email" class="full">
                  </div>
    
                   <div class="colBlock clearfix">
                      <div class="formCol-3 thirty3">
                            <label>City<span>*</span></label>
                            <input type="text" class="full">
                       </div>
                       <div class="formCol-3 thirty3">
                            <label>State<span>*</span></label>
                            <input type="text" class="full">
                       </div>
                       <div class="formCol-3 thirty3">
                            <label>Postal Code<span>*</span></label>
                            <input type="text" class="full">
                       </div>
                  </div>
    
                  <div class="colBlock clearfix">
                      <div class="formCol-3 thirty3">
                            <label>Phone Number<span>*</span></label>
                            <input type="text" class="full">
                       </div>
                       <div class="formCol-3 thirty3">
                            <label>Country<span>*</span></label>
                            <select class="full">
                                <option>Select a category</option>
                                <option>Lorem ipsum 2</option>
                                <option>Lorem ipsum 3</option>
                                <option>Lorem ipsum 4</option>
                            </select>
                       </div>
                  </div>
                   <h2>Selling Information</h2>
                   <div class="colBlock clearfix eigth">
                      <label>Paypal Account Email* <span>*</span></label>
                      <input type="email" class="full">
                      <i>What Paypal email should buyers send your money to?
    if you do not have a paypal account, <br> Please <a href="#">click here</a> to create one</i>
                  </div>
                  <h3>Please select <strong>3</strong> styles you are specialize in</h3>
                   <div class="colBlock clearfix full borderBtm">
                        <div class="formCol-3 twenty5">
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value="" checked><span class="respons">Avant Garde</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value="" checked><span class="respons">Boho</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value="" checked><span class="respons">Burlesque</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Fantasy</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Goth</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">High Fashion</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Hip Hop</span>
                            </div>
                       </div>
    
                        <div class="formCol-3 twenty5">
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Hipster</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Historical</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Horror </span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Industrial</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Kawaii</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Kitsch</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Mod</span>
                            </div>
                       </div>
    
                        <div class="formCol-3 twenty5">
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Modern</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Pinup</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Punk</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Pyschobilly</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Retro</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Rockabilly</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Rocker</span>
                            </div>
                       </div>
    
                        <div class="formCol-3 twenty5">
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Sci Fi</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Spooky</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Steampunk</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Tattoo</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Traditional</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Tribal</span>
                            </div>
                            <div class="neat clearfix">
                              <input name="" type="checkbox" value=""><span class="respons">Victorian</span>
                            </div>
                       </div>
    
                   </div>
                   <div class="clearfix">
                          <input type="submit" value="Save" class="save float_right">
                   </div>
                   
			</form>
        </div>
      </div>

       
      
    
    <div id="signupFooter" class="signupFooter">
      &copy 2013 RebelsMarket. All Rights Reserved.
    </div>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="../javascripts/jquery.js"></script>

    <script src="../javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="../javascripts/bootstrap.min.js"></script>

    <script src="../javascripts/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="../javascripts/jquery.nicescroll.min.js"></script>
    <script src="../javascripts/scripts.js"></script>
  
  </body>

</html>
