<%= render 'cart_header' %>
<%= render 'order_summary' %>

<div id="content">

  <div class="container shopingSpacing checkout-container">

<div class="block">
<h1 class="marginT_20">Checkout</h1>

<div id="address-box" class="block_570 float_left checkout-left-container">
 <form>

  <h3>Your Shipping Address</h3>

	<label>First Name</label>
	<div class="clear"></div>
	<input class="input_pad_one marginT_10 marginB_10" type="text" />
	<div class="clear"></div>
  <label>Last Name</label>
  <div class="clear"></div>
  <input class="input_pad_one marginT_10 marginB_10" type="text" />
  <div class="clear"></div>

  <label>Address Line 1</label>
  <div class="clear"></div>
  <input class="input_pad_one marginT_10 marginB_10" type="text" />
  <div class="clear"></div>

  <label>City</label>
  <div class="clear"></div>
  <input class="input_pad_one marginT_10 marginB_10" type="text" />
  <div class="clear"></div>

  <label>State or Province</label>
  <div class="clear"></div>
  <input class="input_pad_one marginT_10 marginB_10" type="text" />
  <div class="clear"></div>

 <label>Postal Code/Zip Code*</label>
 <div class="clear"></div>
 <input class="input_pad_one marginT_10 marginB_10" type="text" />
 <div class="clear"></div>

 <h3>Your Email</h3>

 <p>Please confirm your email address so we can send you a order receipt, tracking & shipping information</p>
 <label>Email</label>
 <div class="clear"></div>
 <input class="input_pad_one marginT_20 marginB_10" type="text" />
 <div class="clear"></div>


 <h3>Account (used to track and manage your orders)</h3>
 <div>
   <input name="checkout[anonymous]" type="hidden" value="0">
   <input checked="checked" id="checkout_anonymous" name="checkout[anonymous]" type="checkbox" value="1">Create an anonymous username for me.
   <input class="input_pad_one marginT_10 marginB_10" type="text" value="RM59595959" />
</div>

<h3>Payment</h3>


<div>
    <input type="button" class="checkout-orange-button marginT_10 block_130 marginB_10"  value="Complete Purchase" />
    <div class="marginT_10">
      <img src="https://static1.apwcontent.com/sites/apw/design/checkout/lock-icon.gif" width="18" height="21" border="0">
        <a href="#" class="green-links">
          <strong>Your order is safe and secured</strong>
        </a>
     </div>
  </div>
	</form>
</div><!-- block_570 ends -->

<div id="signup_box" class="block_300 float_right border_l paddingL_20 bordered_box">
  <h4>Have an account?</h4>
  <p class="marginB_10">Sign in for faster checkout(optional)</p>

  <form>
   <label>Email</label>
   <div class="clear"></div>
   <input class="input_pad_one marginT_10 marginB_10" type="text" />
   <div class="clear"></div>
   <label>Password</label>
   <div class="clear"></div>
   <input class="input_pad_one marginT_10 marginB_10" type="text" />
   <div class="clear"></div>
    <input type="button" class="button_two marginT_10 block_130 marginB_10"  value="Sign In" />
    <a href="/users/password/new" class="lostPass font_18" data-trackaction="Forgot Password" data-tracklabel="Forgot Password" data-tracklink="LoginPage">Forgot password?</a>
    <p>Don't have an account? You can create an account after you complete your order.</p>
  </form>
</div>


</div><!-- span 920 ends -->
</div><!-- end of .container -->

</div><!-- end of #content -->
<%= render 'footer' %>
<!--  this will position the content on a page based on the screen size; for the end users convinience-->
<script type="text/javascript">
   if (document.documentElement.clientWidth > 640) {
     $("#top_order_summary").remove().insertBefore($("#signup_box"));
   }else{
    $("#top_order_summary").remove().insertBefore($("#address-box"));
   }
</script>
