<%= render 'header' %>

<div id="content">

  <div class="container headerMarginTop">
          <div class="clearfix">
             <div class="searchNav">
                    <a href=""><img src="../images/homeIcon.png"></a>
                    <a href="">Page1</a>
                    <a href="">Page2</a>
             </div>
          </div> 
          
         <div id="info_pad">
    <a href="user_page.html" class="profile_img avt_2"><img src="../images/store-avatar.jpg" alt=""></a>
    <div class="block_5 float_left">
        <a href="user_page.html" class="title_1 contentlink">Lorem Ipsum</a>
        <p class="marginT_20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <div class="info_addons">
            <div class="float_left block_6" id="info_active"><a href="user_page.html" class="info_link"><span class="txt_two">47</span><span class="labelTxt">Activty</span></a></div>
            <div class="float_left block_6"><a href="user_loves.html" class="info_link"><span class="txt_two">47</span><span class="labelTxt">Loves</span></a></div>
            <div class="float_left block_6"><a href="follow_template.html" class="info_link"><span class="txt_two">34</span><span class="labelTxt">Stores</span></a></div>
            <div class="float_left block_6"><a href="follow_template.html" class="info_link"><span class="txt_two">350</span><span class="labelTxt">Followers</span></a></div>
            <div class="float_left block_6"><a href="follow_template.html" class="info_link"><span class="txt_two">455</span><span class="labelTxt">Following</span></a></div>
        </div>
    </div><!-- block_5 ends -->
    <a href="#" class="follow_btn btn_red">Follow</a>
</div>
         

        <div id="follow" class="follow clearfix">
      <div class="leftWing">
          <div class="leftWrap">
              <figure>
                 <img src="../images/store-avatar.jpg" alt="">
              </figure>
              <div class="contentPane">
                <h2><span>mismad3 </span> saved 7 products</h2>
                <span>1 day ago</span>
                <div class="avataRoll clearfix">
                   <img src="../images/follow/avata-1.jpg" alt="">
                   <img src="../images/follow/avata-2.jpg" alt="">
                   <img src="../images/follow/avata-3.jpg" alt="">
                </div>
                <div class="fullWidth textCenter">
                     <a href="#" class="viewAll">View All</a>
                </div>
              </div>
          </div>

          <div class="leftWrap">
              <figure>
                 <img src="../images/store-avatar.jpg" alt="">
              </figure>
              <div class="contentPane comment">
                <h2><span>Lorem</span> commented on <span>mismad3's</span> save</h2>
                <span>1 day ago</span>
                <div class="avataRoll clearfix">
                   <img src="../images/follow/avata-1.jpg" alt="">
                   <div class="commentWing">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                      </p>
                      <div>
                        2 day ago ~ reports <button>reply</button>
                      </div>
                   </div>
                </div>
              </div>
          </div>

          <div class="leftWrap">
              <figure>
                 <img src="../images/store-avatar.jpg" alt="">
              </figure>
              <div class="contentPane">
                <h2><span>mismad3 </span> saved 7 products</h2>
                <span>1 day ago</span>
                <div class="avataRoll clearfix">
                   <img src="../images/follow/avata-1.jpg" alt="">
                   <img src="../images/follow/avata-2.jpg" alt="">
                   <img src="../images/follow/avata-3.jpg" alt="">
                </div>
                <div class="fullWidth textCenter">
                     <a href="#" class="viewAll">View All</a>
                </div>
              </div>
          </div>
      </div>
      <div class="rightWing">
          <h1>People to follow <span><a href="">View all</a></span></h1>
          <div class="followStore">
            <div class="storeDetail clearfix">
              <img src="../images/store_avatar.png" alt="">
              <div class="storeName">
                <h1>@lorem</h1>
                <a href="">Follow</a>
              </div>
            </div>

            <div class="storeImgs clearfix">
              <img src="../images/follow/store-01.jpg" alt="">
              <img src="../images/follow/store-02.jpg" alt="">
              <img src="../images/follow/store-03.jpg" alt="">
            </div>
          </div>

          <div class="followStore">
            <div class="storeDetail clearfix">
              <img src="../images/store_avatar.png" alt="">
              <div class="storeName">
                <h1>@lorem</h1>
                <a href="">Follow</a>
              </div>
            </div>

            <div class="storeImgs clearfix">
              <img src="../images/follow/store-01.jpg" alt="">
              <img src="../images/follow/store-02.jpg" alt="">
              <img src="../images/follow/store-03.jpg" alt="">
            </div>
          </div>

          <h1>Stores to follow <span><a href="">View all</a></span></h1>
          <div class="followStore">
            <div class="storeDetail clearfix">
              <img src="../images/store_avatar.png" alt="">
              <div class="storeName">
                <h1>@lorem</h1>
                <a href="">Follow</a>
              </div>
            </div>

            <div class="storeImgs clearfix">
              <img src="../images/follow/store-01.jpg" alt="">
              <img src="../images/follow/store-02.jpg" alt="">
              <img src="../images/follow/store-03.jpg" alt="">
            </div>
          </div>

          <div class="followStore">
            <div class="storeDetail clearfix">
              <img src="../images/store_avatar.png" alt="">
              <div class="storeName">
                <h1>@lorem</h1>
                <a href="">Follow</a>
              </div>
            </div>

            <div class="storeImgs clearfix">
              <img src="../images/follow/store-01.jpg" alt="">
              <img src="../images/follow/store-02.jpg" alt="">
              <img src="../images/follow/store-03.jpg" alt="">
            </div>
          </div>
      </div>
  </div>
        
  </div><!-- end of .container -->

</div><!-- end of #content -->
<%= render 'footer' %>